snippets/fridge_door_monitoring_by_energy_consumption.json
[{"id":"bfe94f23.536fa","type":"mqtt in","z":"64fce33a.f8b93c","name":"","topic":"tele/KSUeberwachung/SENSOR","qos":"2","datatype":"auto","broker":"e314300a.e8a55","x":150,"y":1700,"wires":[["78d3cfa6.59d8f"]]},{"id":"408bc0d0.7e6b3","type":"debug","z":"64fce33a.f8b93c","name":"GleitMittelwert","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":940,"y":1740,"wires":[]},{"id":"eab10c2b.bd47b","type":"smooth","z":"64fce33a.f8b93c","name":"smotthedValuesOfOneDay","property":"payload","action":"mean","count":"8640","round":"2","mult":"single","reduce":false,"x":700,"y":1760,"wires":[["408bc0d0.7e6b3","df6dcbef.290c68","d3c313e.9b53ef"]]},{"id":"78d3cfa6.59d8f","type":"json","z":"64fce33a.f8b93c","name":"","property":"payload","action":"","pretty":false,"x":360,"y":1700,"wires":[["181ef115.e0d86f","9ab40529.a5bf68"]]},{"id":"181ef115.e0d86f","type":"change","z":"64fce33a.f8b93c","name":"","rules":[{"t":"set","p":"Energy","pt":"msg","to":"payload.ENERGY.Today","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.ENERGY.Power","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":1700,"wires":[["eab10c2b.bd47b","465fa6f3.d37358","3a6a740c.416adc","d33e5474.b54198"]]},{"id":"c5ed894a.7b21a8","type":"comment","z":"64fce33a.f8b93c","name":"Fridge power monitoring","info":"Remember:\nYour measuring device must be set like this that it is sending actual measurements every 10s. Otherwise the number of averages need to be adapted.","x":130,"y":1580,"wires":[]},{"id":"df6dcbef.290c68","type":"function","z":"64fce33a.f8b93c","name":"LimitDecimals","func":"\nmsg.payload = msg.payload.toFixed(2)\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":1780,"wires":[["97a6b88a.f4e5c8","91faf74e.8beb08"]]},{"id":"607eacb7.0ec964","type":"ui_chart","z":"64fce33a.f8b93c","name":"Kühlschrank Leistungsaufnahme","group":"b8c36c3b.7aade","order":2,"width":"10","height":"6","label":"Kühlschrank Leistungsaufnahme","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"200","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1390,"y":1660,"wires":[[]]},{"id":"97a6b88a.f4e5c8","type":"ui_gauge","z":"64fce33a.f8b93c","name":"Fridge average power consumption","group":"b8c36c3b.7aade","order":4,"width":0,"height":0,"gtype":"gage","title":"Fridge average power consumption","label":"W","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1400,"y":1780,"wires":[]},{"id":"465fa6f3.d37358","type":"ui_gauge","z":"64fce33a.f8b93c","name":"Fridge current power consumption","group":"b8c36c3b.7aade","order":5,"width":0,"height":0,"gtype":"gage","title":"Fridge current power consumption","label":"W","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":820,"y":1620,"wires":[]},{"id":"34a21011.0d4ed","type":"function","z":"64fce33a.f8b93c","name":"checkValue","func":"if (flow.get(\"KuehlschrankSmoothedOfOneDay\")===undefined)\n{\n    flow.set(\"KuehlschrankSmoothedOfOneDay\",50);\n}\nif (flow.get(\"KuehlschrankPullingPower\")===undefined)\n{\n    flow.set(\"KuehlschrankPullingPower\",false);\n}\n\nif ( (msg.payload>=flow.get(\"KuehlschrankSmoothedOfOneDay\")) && !flow.get(\"KuehlschrankPullingPower\") ) //Detect first occurence of actualConsumedPower over average and mark this as \"consumer is switched on\".\n{\n    flow.set(\"KuehlschrankRiseDetectTimestamp\",Date.now()); //Remember timestamp as start of \"onPeriod\".\n    flow.set(\"KuehlschrankPullingPower\",true);\n} else if( (msg.payload<flow.get(\"KuehlschrankSmoothedOfOneDay\")) && flow.get(\"KuehlschrankPullingPower\"))\n{\n    flow.set(\"KuehlschrankFallDetectTimestamp\",Date.now()); //Remember timestamp as stop of \"onPeriod\".\n    flow.set(\"KuehlschrankOnTime\",((flow.get(\"KuehlschrankFallDetectTimestamp\")-flow.get(\"KuehlschrankRiseDetectTimestamp\"))/1000)); //supplemented by \"KuehlschrankOnTimeSoFar\", because normal \"onTime\" will only be calculated after the consumer has switched off. Which will iiterally remind you about a abnormal long running consumer as you might recognized it already. :D\n    flow.set(\"KuehlschrankPullingPower\",false);\n    msg.payload=flow.get(\"KuehlschrankOnTime\");\n    return msg; \n}\n\nflow.set(\"KuehlschrankOnTimeSoFar\",((Date.now()-flow.get(\"KuehlschrankRiseDetectTimestamp\"))/1000));    //very important to keep track about the actual running measurement of the \"onTime\".(Because the normal measurement will be finished after the consumer is switched off).\n\n\nif (flow.get(\"KuehlschrankValueCount\")===undefined)\n{\n    flow.set(\"KuehlschrankValueCount\",0);\n}\n\nif (flow.get(\"KuehlschrankValueCount\")<=8640)\n{\n    flow.set(\"KuehlschrankValueCount\",(flow.get(\"KuehlschrankValueCount\")+1));\n}\n","outputs":1,"noerr":0,"x":890,"y":1940,"wires":[["8717555e.aa6e08","1f6bf245.bc819e"]]},{"id":"3a6a740c.416adc","type":"smooth","z":"64fce33a.f8b93c","name":"smotth10","property":"payload","action":"mean","count":"10","round":"2","mult":"single","reduce":false,"x":720,"y":1940,"wires":[["34a21011.0d4ed"]]},{"id":"d3c313e.9b53ef","type":"change","z":"64fce33a.f8b93c","name":"","rules":[{"t":"set","p":"KuehlschrankSmoothedOfOneDay","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":1820,"wires":[[]]},{"id":"886fe8c4.928108","type":"trigger","z":"64fce33a.f8b93c","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"false","bytopic":"all","name":"","x":1170,"y":2120,"wires":[["3395302e.1ad4a","5555c2fb.c3f23c"]]},{"id":"91faf74e.8beb08","type":"change","z":"64fce33a.f8b93c","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"average","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":1740,"wires":[["607eacb7.0ec964"]]},{"id":"d33e5474.b54198","type":"change","z":"64fce33a.f8b93c","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"actual","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":1680,"wires":[["607eacb7.0ec964"]]},{"id":"3395302e.1ad4a","type":"pushbullet","z":"64fce33a.f8b93c","config":"139243fe.5b95ac","pushtype":"note","title":"KlugesHaus","chan":"","name":"KlugesHaus","x":1390,"y":2120,"wires":[]},{"id":"9482638.6e50fa","type":"comment","z":"64fce33a.f8b93c","name":"TODO","info":"Alarm bei abwesenheit der Steckdose\nAlarm, wenn eine einstelbare Zeit keine Leistungsmessage eingegenagen ist\nAlarm wenn Steckdose abgeschaltet\nAlarm auch wenn Verbrauch für eine Stunde bei null","x":340,"y":1640,"wires":[]},{"id":"8717555e.aa6e08","type":"smooth","z":"64fce33a.f8b93c","name":"smotth","property":"payload","action":"mean","count":"4","round":"2","mult":"single","reduce":false,"x":1050,"y":1940,"wires":[["5e3202b4.c4a89c","c2ea2a02.cdb6d8"]]},{"id":"5e3202b4.c4a89c","type":"function","z":"64fce33a.f8b93c","name":"OnTimeSmoothed","func":"flow.set(\"KuehlschrankOnTimeSmoothed\",msg.payload);\nmsg.topic=\"OnTimeSmoothed\";\nreturn msg; \n    ","outputs":1,"noerr":0,"x":1230,"y":1940,"wires":[["5524c336.e1f7dc","6e91fb81.ecb1c4"]]},{"id":"6e91fb81.ecb1c4","type":"ui_chart","z":"64fce33a.f8b93c","name":"Fridge OnTimes","group":"b8c36c3b.7aade","order":3,"width":"10","height":"6","label":"Fridge OnTimes","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1500,"y":2000,"wires":[[]]},{"id":"1f6bf245.bc819e","type":"change","z":"64fce33a.f8b93c","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"onTimeLastMeasurement","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1980,"wires":[["6e91fb81.ecb1c4"]]},{"id":"365cd4eb.d4d71c","type":"inject","z":"64fce33a.f8b93c","name":"reset onTimeActual chart","topic":"onTimeActual","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1130,"y":2020,"wires":[["6e91fb81.ecb1c4"]]},{"id":"4f72d65b.0600f8","type":"inject","z":"64fce33a.f8b93c","name":"reset onTimeSmoothed chart","topic":"onTimeActual","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1140,"y":2060,"wires":[["6e91fb81.ecb1c4"]]},{"id":"5524c336.e1f7dc","type":"ui_gauge","z":"64fce33a.f8b93c","name":"Fridge OnPeriod","group":"b8c36c3b.7aade","order":6,"width":0,"height":0,"gtype":"gage","title":"Fridge OnPeriod","label":"s","format":"{{value | number:1}}","min":0,"max":"3600","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1500,"y":1960,"wires":[]},{"id":"17b2cb0f.0dd865","type":"function","z":"64fce33a.f8b93c","name":"checkForAbnormalValues","func":"if (flow.get(\"KuehlschrankValueCount\")>=8640)   //this ensures that this is only checked as soon as there are enough measurement values available\n{\n\n//this checks for abnormal \"finished\" measurements of onTimes\n    if (flow.get(\"KuehlschrankOnTime\")!==undefined && flow.get(\"KuehlschrankOnTimeSmoothed\")!==undefined)\n    {\n        if (flow.get(\"KuehlschrankOnTime\")>=(flow.get(\"KuehlschrankOnTimeSmoothed\")*1.8))\n        {\n            msg.payload=\"Möglicherweise steht die Kühlschranktür offen. (Detected by OnTime: Average is: \"+flow.get(\"KuehlschrankOnTimeSmoothed\")+\"s. Actual is: \"+flow.get(\"KuehlschrankOnTime\")+\"s\";\n        } else\n        {\n            msg.payload=false;\n        }\n        return msg;\n    }\n    \n//this checks for abnormal \"actual running\" measurements of onTimes\n    if (flow.get(\"KuehlschrankOnTimeSoFar\")!==undefined && flow.get(\"KuehlschrankOnTimeSmoothed\")!==undefined)\n    {\n        if (flow.get(\"KuehlschrankOnTimeSoFar\")>=(flow.get(\"KuehlschrankOnTimeSmoothed\")*1.8))\n        {\n            msg.payload=\"Möglicherweise steht die Kühlschranktür offen. (Detected by OnTime(soFar): Average is: \"+flow.get(\"KuehlschrankOnTimeSmoothed\")+\"s. Actual is: \"+flow.get(\"KuehlschrankOnTime\")+\"s\";\n        } else\n        {\n            msg.payload=false;\n        }\n        return msg;\n    }\n    \n}","outputs":1,"noerr":0,"x":930,"y":2120,"wires":[["886fe8c4.928108"]]},{"id":"29c004d5.76ef7c","type":"inject","z":"64fce33a.f8b93c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":710,"y":2120,"wires":[["17b2cb0f.0dd865","218e96b8.3dceba"]]},{"id":"9ab40529.a5bf68","type":"debug","z":"64fce33a.f8b93c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":1640,"wires":[]},{"id":"c2ea2a02.cdb6d8","type":"function","z":"64fce33a.f8b93c","name":"OnTimeSoFar","func":"msg.payload=flow.get(\"KuehlschrankOnTimeSoFar\");\nmsg.topic=\"OnTimeSoFar\";\nreturn msg; \n    ","outputs":1,"noerr":0,"x":1220,"y":1900,"wires":[["5524c336.e1f7dc","6e91fb81.ecb1c4"]]},{"id":"68b521f9.c9ec","type":"ui_text","z":"64fce33a.f8b93c","group":"b8c36c3b.7aade","order":1,"width":"10","height":"2","name":"ValueCounter","label":"Enough Measurement-Values?","format":"{{msg.payload}}","layout":"row-spread","x":1400,"y":2160,"wires":[]},{"id":"218e96b8.3dceba","type":"function","z":"64fce33a.f8b93c","name":"enoughValues?","func":"\nif (flow.get(\"KuehlschrankValueCount\")<8640)\n{\n    msg.payload = \"Consumer-alarm will be armed as soon as there are 8640 values available. Actual count: \"+flow.get(\"KuehlschrankValueCount\");\n} else\n{\n    msg.payload = \"Consumer-alarm is ready and checking for abnormal values.\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":2160,"wires":[["68b521f9.c9ec"]]},{"id":"5555c2fb.c3f23c","type":"link out","z":"64fce33a.f8b93c","name":"","links":["ec9ee51b.855828"],"x":1335,"y":2080,"wires":[]},{"id":"e314300a.e8a55","type":"mqtt-broker","z":"","name":"Server-Mqtt","broker":"server.fritz.box","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b8c36c3b.7aade","type":"ui_group","z":"","name":"Fridge","tab":"5a8c2d00.975424","order":4,"disp":true,"width":"10","collapse":false},{"id":"139243fe.5b95ac","type":"pushbullet-config","z":"","name":"FabsPushbullet"},{"id":"5a8c2d00.975424","type":"ui_tab","z":"","name":"Energie","icon":"dashboard","order":5,"disabled":false,"hidden":false}]