snippets/fritz_box_control_dect_500_light_bulb.json
[{"id":"7a44b42.d44284c","type":"fritz-bulb","z":"78b1bede.9b035","connection":"c2e6322e.33404","name":"","action":"getDevice","x":570,"y":3780,"wires":[["56f0af58.b1fd"]]},{"id":"356059a5.2dc5c6","type":"comment","z":"78b1bede.9b035","name":"Control Fritz!DECT 500 Light bulb","info":"","x":230,"y":3660,"wires":[]},{"id":"34110450.d00a4c","type":"inject","z":"78b1bede.9b035","name":"Get lamp list","topic":"0000","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":3780,"wires":[["7808632a.8da6ac"]]},{"id":"56f0af58.b1fd","type":"debug","z":"78b1bede.9b035","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":3780,"wires":[]},{"id":"3c7ac840.d07fd8","type":"fritz-bulb","z":"78b1bede.9b035","connection":"c2e6322e.33404","name":"","action":"getDevice","x":570,"y":3900,"wires":[["42270c2e.cc92c4","804178c0.62ab4","5116c632.01bda8"]]},{"id":"42270c2e.cc92c4","type":"debug","z":"78b1bede.9b035","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":3920,"wires":[]},{"id":"c6ed2f71.9abb1","type":"inject","z":"78b1bede.9b035","name":"Get lamp state","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":220,"y":3900,"wires":[["448ea04d.ab9df"]]},{"id":"6456379d.565998","type":"inject","z":"78b1bede.9b035","name":"Set lamp AIN","topic":"","payload":"13562314541-1","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":220,"y":3720,"wires":[["cf749d99.21fda"]]},{"id":"cf749d99.21fda","type":"change","z":"78b1bede.9b035","name":"","rules":[{"t":"set","p":"fritz_lamp_1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":3720,"wires":[[]]},{"id":"7808632a.8da6ac","type":"change","z":"78b1bede.9b035","name":"inject AIN","rules":[{"t":"set","p":"ain","pt":"msg","to":"fritz_lamp_1","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":3780,"wires":[["7a44b42.d44284c"]]},{"id":"448ea04d.ab9df","type":"change","z":"78b1bede.9b035","name":"inject AIN","rules":[{"t":"set","p":"ain","pt":"msg","to":"fritz_lamp_1","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":3900,"wires":[["3c7ac840.d07fd8"]]},{"id":"a8219dd8.4c85c","type":"fritz-bulb","z":"78b1bede.9b035","connection":"c2e6322e.33404","name":"","action":"setSimpleOnOff","x":750,"y":4000,"wires":[["9317f73.7c94708","448ea04d.ab9df"]]},{"id":"9317f73.7c94708","type":"debug","z":"78b1bede.9b035","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":4000,"wires":[]},{"id":"82b2753.6effc88","type":"inject","z":"78b1bede.9b035","name":"Set on","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":4000,"wires":[["193ca031.34b49"]]},{"id":"193ca031.34b49","type":"change","z":"78b1bede.9b035","name":"inject AIN","rules":[{"t":"set","p":"ain","pt":"msg","to":"fritz_lamp_1","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":4000,"wires":[["a8219dd8.4c85c"]]},{"id":"c4a3024f.1db0a","type":"inject","z":"78b1bede.9b035","name":"Set off","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":4040,"wires":[["193ca031.34b49"]]},{"id":"ae8d2255.6ae9f","type":"ui_switch","z":"78b1bede.9b035","name":"","label":"State","tooltip":"Activate and deactivate the light bulb.","group":"40d912ce.115cf4","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":390,"y":4000,"wires":[["193ca031.34b49"]]},{"id":"804178c0.62ab4","type":"function","z":"78b1bede.9b035","name":"convert state","func":"\nmsg.payload=msg.payload.simpleonoff.state==1;\n\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":3960,"wires":[["ae8d2255.6ae9f"]]},{"id":"5c60050d.cbf98c","type":"ui_dropdown","z":"78b1bede.9b035","name":"","label":"Color","tooltip":"Sets the color of the light bulb.","place":"Select color","group":"40d912ce.115cf4","order":3,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"White","value":"white","type":"str"},{"label":"Red","value":"red","type":"str"},{"label":"Orange","value":"orange","type":"str"},{"label":"Yellow","value":"yellow","type":"str"},{"label":"Lime","value":"lime","type":"str"},{"label":"Green","value":"green","type":"str"},{"label":"Turquoise","value":"turquoise","type":"str"},{"label":"Cyan","value":"cyan","type":"str"},{"label":"Lightblue","value":"lightblue","type":"str"},{"label":"Blue","value":"blue","type":"str"},{"label":"Purple","value":"purple","type":"str"},{"label":"Magenta","value":"magenta","type":"str"},{"label":"Pink","value":"pink","type":"str"}],"payload":"","topic":"","x":190,"y":4120,"wires":[["bbba2c61.c20ae"]]},{"id":"7229f0e9.190368","type":"fritz-bulb","z":"78b1bede.9b035","connection":"c2e6322e.33404","name":"","action":"setColor","x":750,"y":4120,"wires":[["64843eb4.629578"]]},{"id":"9a23e93e.20ff9","type":"change","z":"78b1bede.9b035","name":"inject AIN and payload","rules":[{"t":"set","p":"ain","pt":"msg","to":"fritz_lamp_1","tot":"flow"},{"t":"set","p":"fritz_lamp_1_color","pt":"flow","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.color","pt":"msg","to":"fritz_lamp_1_color","tot":"flow"},{"t":"set","p":"payload.saturation","pt":"msg","to":"fritz_lamp_1_saturation","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":4100,"wires":[["7229f0e9.190368","64268097.70ae1"]]},{"id":"64843eb4.629578","type":"debug","z":"78b1bede.9b035","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":4120,"wires":[]},{"id":"64268097.70ae1","type":"debug","z":"78b1bede.9b035","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":4080,"wires":[]},{"id":"7c0e9c03.3dacb4","type":"ui_slider","z":"78b1bede.9b035","name":"","label":"Brightness","tooltip":"This sets the brightness of the light bulb.","group":"40d912ce.115cf4","order":6,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"1","max":"100","step":1,"x":210,"y":4320,"wires":[["603edc13.c86e9c"]]},{"id":"603edc13.c86e9c","type":"change","z":"78b1bede.9b035","name":"inject AIN","rules":[{"t":"set","p":"ain","pt":"msg","to":"fritz_lamp_1","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":4320,"wires":[["39228f5b.2b72f"]]},{"id":"39228f5b.2b72f","type":"fritz-bulb","z":"78b1bede.9b035","connection":"c2e6322e.33404","name":"","action":"setLevelPercentage","x":750,"y":4320,"wires":[["aabddc1e.3eb4"]]},{"id":"aabddc1e.3eb4","type":"debug","z":"78b1bede.9b035","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":4320,"wires":[]},{"id":"248f97d3.a39be8","type":"ui_dropdown","z":"78b1bede.9b035","name":"","label":"Color Temperature","tooltip":"Sets the color temperature.","place":"Select temperature","group":"40d912ce.115cf4","order":4,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"2700","value":"2700","type":"str"},{"label":"3000","value":"3000","type":"str"},{"label":"3400","value":"3400","type":"str"},{"label":"3800","value":"3800","type":"str"},{"label":"4200","value":"4200","type":"str"},{"label":"4700","value":"4700","type":"str"},{"label":"5300","value":"5300","type":"str"},{"label":"5900","value":"5900","type":"str"},{"label":"6500","value":"6500","type":"str"}],"payload":"","topic":"","x":230,"y":4260,"wires":[["3cf49ec6.f33692"]]},{"id":"f31a5850.443f68","type":"fritz-bulb","z":"78b1bede.9b035","connection":"c2e6322e.33404","name":"","action":"setColorTemperature","x":750,"y":4260,"wires":[["ff085ce5.d832c8"]]},{"id":"ff085ce5.d832c8","type":"debug","z":"78b1bede.9b035","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":4260,"wires":[]},{"id":"3cf49ec6.f33692","type":"change","z":"78b1bede.9b035","name":"inject AIN and payload","rules":[{"t":"set","p":"ain","pt":"msg","to":"fritz_lamp_1","tot":"flow"},{"t":"set","p":"fritz_lamp_1_color_temp","pt":"flow","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.color","pt":"msg","to":"fritz_lamp_1_color_temp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":4260,"wires":[["f31a5850.443f68"]]},{"id":"824f5c8b.f5f7b8","type":"change","z":"78b1bede.9b035","name":"inject AIN and payload","rules":[{"t":"set","p":"ain","pt":"msg","to":"fritz_lamp_1","tot":"flow"},{"t":"set","p":"fritz_lamp_1_saturation","pt":"flow","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.saturation","pt":"msg","to":"fritz_lamp_1_saturation","tot":"flow"},{"t":"set","p":"payload.color","pt":"msg","to":"fritz_lamp_1_color","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":4160,"wires":[["7229f0e9.190368"]]},{"id":"5338f0ca.ce5228","type":"ui_dropdown","z":"78b1bede.9b035","name":"","label":"Saturation","tooltip":"Sets the saturation of the current color.","place":"Select saturation","group":"40d912ce.115cf4","order":5,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"High","value":"0","type":"str"},{"label":"Medium","value":"1","type":"str"},{"label":"Low","value":"2","type":"str"}],"payload":"","topic":"","x":210,"y":4160,"wires":[["824f5c8b.f5f7b8"]]},{"id":"42b62103.ea982","type":"ui_text","z":"78b1bede.9b035","group":"40d912ce.115cf4","order":1,"width":0,"height":0,"name":"","label":"Online status","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":3920,"wires":[]},{"id":"5116c632.01bda8","type":"function","z":"78b1bede.9b035","name":"","func":"\nmsg.payload=msg.payload.present==\"1\" ? \"Online\" : \"Offline\";\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":3880,"wires":[["42b62103.ea982","385414da.66c5cc"]]},{"id":"385414da.66c5cc","type":"change","z":"78b1bede.9b035","name":"save current data","rules":[{"t":"set","p":"fritz_lamp_1_color_temp","pt":"flow","to":"payload.colorcontrol.temperature","tot":"msg"},{"t":"set","p":"fritz_lamp_1_brightness","pt":"flow","to":"payload.levelcontrol.levelpercentage","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":3880,"wires":[[]]},{"id":"bbba2c61.c20ae","type":"switch","z":"78b1bede.9b035","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"white","vt":"str"},{"t":"eq","v":"white","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":4120,"wires":[["9a23e93e.20ff9"],["454a6475.3ffbdc"]]},{"id":"454a6475.3ffbdc","type":"change","z":"78b1bede.9b035","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"fritz_lamp_1_color_temp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":4220,"wires":[["3cf49ec6.f33692"]]},{"id":"c2e6322e.33404","type":"fritz-api","z":"","name":"fritzBox","host":"http://fritz.box","strictSSL":true},{"id":"40d912ce.115cf4","type":"ui_group","z":"","name":"Fritz!DECT 500 Light bulb","tab":"748155f1.44babc","order":24,"disp":true,"width":"6","collapse":false},{"id":"748155f1.44babc","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]