snippets/httpCall2mqtt_bridge_example.json
[{"id":"12bb526d.9b3f4e","type":"http in","z":"2dcf0cc0.aeb894","name":"","url":"/http2mqttBridge.json","method":"get","upload":false,"swaggerDoc":"","x":230,"y":4220,"wires":[["62e373c9.19595c","6c220220.eb069c","ae36f8fd.249ec8"]]},{"id":"b69ac5ed.2d2da8","type":"http response","z":"2dcf0cc0.aeb894","name":"","x":750,"y":4220,"wires":[]},{"id":"3047eb29.9c1534","type":"change","z":"2dcf0cc0.aeb894","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":4220,"wires":[["b69ac5ed.2d2da8"]]},{"id":"62e373c9.19595c","type":"template","z":"2dcf0cc0.aeb894","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \n    \"Result\": \"Okay\"\n}","output":"str","x":430,"y":4220,"wires":[["3047eb29.9c1534"]]},{"id":"18c091ee.60606e","type":"comment","z":"2dcf0cc0.aeb894","name":"HTTP2mqtt bridge:","info":"http2mqtt-bridge example by Nerdiy.de\n\ncurl --insecure https://server.fritz.box:1880/http2mqttBridge.json\n\nWindows Batch:\n\nOff:\n@echo off\n:repeat\n   set /p answer=3D Pinter poweroff: Proceed (Y/N)?\n   if /i \"%answer:~,1%\" EQU \"Y\" curl --insecure https://server.fritz.box:1880/http2mqttBridge.json?action=3dPrinterOff && exit /b\n   if /i \"%answer:~,1%\" EQU \"N\" exit /b\n   echo Please type Y for Yes or N for No\n   goto repeat\n   \nOn:\ncurl --insecure https://server.fritz.box:1880/http2mqttBridge.json?action=3dPrinterOn","x":160,"y":4160,"wires":[]},{"id":"6c220220.eb069c","type":"debug","z":"2dcf0cc0.aeb894","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":4280,"wires":[]},{"id":"ae36f8fd.249ec8","type":"switch","z":"2dcf0cc0.aeb894","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"3dPrinterOn","vt":"str"},{"t":"eq","v":"3dPrinterOff","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":4320,"wires":[["19872073.04537","36c5fb52.cf4da4"],["e35b279e.dc7018","acc7f851.70f8a8"]]},{"id":"e35b279e.dc7018","type":"debug","z":"2dcf0cc0.aeb894","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":4340,"wires":[]},{"id":"19872073.04537","type":"debug","z":"2dcf0cc0.aeb894","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":4260,"wires":[]},{"id":"a52cf9f6.cda328","type":"link out","z":"2dcf0cc0.aeb894","name":"Http2MqttBridge_3dPrinterOn","links":["2234934e.1d648c"],"x":815,"y":4300,"wires":[]},{"id":"764a8f69.9e946","type":"link out","z":"2dcf0cc0.aeb894","name":"Http2MqttBridge_3dPrinterOff","links":["dd9ce922.b1c3a8"],"x":815,"y":4380,"wires":[]},{"id":"36c5fb52.cf4da4","type":"change","z":"2dcf0cc0.aeb894","name":"printerOn","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":4300,"wires":[["a52cf9f6.cda328"]]},{"id":"acc7f851.70f8a8","type":"change","z":"2dcf0cc0.aeb894","name":"printerOff","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":4380,"wires":[["764a8f69.9e946"]]}]