snippets/pushbullet_notification_at_ssh_login.json
[{"id":"eca34bb8.8ce708","type":"http in","z":"2dcf0cc0.aeb894","name":"","url":"/ssh_login.json","method":"get","upload":false,"swaggerDoc":"","x":310,"y":4760,"wires":[["2c32a45d.81898c","238dd5de.74496a","471c97d4.68f768"]]},{"id":"eafa3420.3aca28","type":"http response","z":"2dcf0cc0.aeb894","name":"","x":850,"y":4760,"wires":[]},{"id":"443efe85.8ac51","type":"change","z":"2dcf0cc0.aeb894","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":4760,"wires":[["eafa3420.3aca28"]]},{"id":"471c97d4.68f768","type":"template","z":"2dcf0cc0.aeb894","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \n \"Result\": \"Okay\"\n}","output":"str","x":530,"y":4760,"wires":[["443efe85.8ac51"]]},{"id":"e174fc8b.10084","type":"comment","z":"2dcf0cc0.aeb894","name":"SSH login notification","info":"sudo nano /home/pi/.profile\n\n#SSH login notification to nodeRed by Nerdiy.de\nLOGIN_USER=\"$( whoami )\"\nLOGIN_DATE=\"$( date +%s )\"\nLOGIN_HOSTNAME=\"$( hostname)\"\n\ncurl -Isk 'https://localhost:1880/ssh_login.json?user='$LOGIN_USER'&amp;date='$LOGIN_DATE'&amp;host='$LOGIN_HOSTNAME >> /dev/null","x":270,"y":4700,"wires":[]},{"id":"2c32a45d.81898c","type":"debug","z":"2dcf0cc0.aeb894","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":4840,"wires":[]},{"id":"238dd5de.74496a","type":"function","z":"2dcf0cc0.aeb894","name":"","func":"msg.payload=\"Someone logged in at \"+msg.payload.host+\" via ssh! User: \"+msg.payload.user+\" at \"+msg.payload.date;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":4800,"wires":[["6ad16ccb.7163c4"]]},{"id":"6ad16ccb.7163c4","type":"pushbullet","z":"2dcf0cc0.aeb894","config":"139243fe.5b95ac","pushtype":"note","title":"KlugesHaus","chan":"","name":"","x":690,"y":4800,"wires":[]},{"id":"139243fe.5b95ac","type":"pushbullet-config","z":"","name":"FabsPushbullet"}]