snippets/pxlBlck_pbbar_command_nodeRed_control_example.json
[{"id":"6c30554e.e470ac","type":"mqtt out","z":"9a4fc325.9b342","name":"","topic":"pxlBlck_32x8_ESP32/cmd","qos":"","retain":"","broker":"e314300a.e8a55","x":980,"y":140,"wires":[]},{"id":"cea8035b.f513f","type":"change","z":"9a4fc325.9b342","name":"set variable","rules":[{"t":"set","p":"payload","pt":"msg","to":"pxlBlck_test_humidity","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":140,"wires":[["76a0428d.a5320c"]]},{"id":"1030dd8.4a90b23","type":"inject","z":"9a4fc325.9b342","name":"send to pxlBlck","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":140,"wires":[["cea8035b.f513f"]]},{"id":"76a0428d.a5320c","type":"function","z":"9a4fc325.9b342","name":"build command","func":"msg.payload=\"pbbar,2000,0,1,1,\"+msg.payload+\",0,10,0,\";\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":140,"wires":[["6c30554e.e470ac"]]},{"id":"3539b4f7.734e8c","type":"change","z":"9a4fc325.9b342","name":"set variable","rules":[{"t":"set","p":"pxlBlck_test_humidity","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":300,"wires":[["cea8035b.f513f"]]},{"id":"c0625ebf.bdb12","type":"inject","z":"9a4fc325.9b342","name":"set variable to 25%","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":240,"wires":[["3539b4f7.734e8c"]]},{"id":"a0e267d6.c867b8","type":"inject","z":"9a4fc325.9b342","name":"set variable to 50%","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":280,"wires":[["3539b4f7.734e8c"]]},{"id":"a7736d74.edc74","type":"inject","z":"9a4fc325.9b342","name":"set variable to 75%","topic":"","payload":"75","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":320,"wires":[["3539b4f7.734e8c"]]},{"id":"23c40c49.864604","type":"inject","z":"9a4fc325.9b342","name":"set variable to 100%","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":360,"wires":[["3539b4f7.734e8c"]]},{"id":"e70e774f.7289d8","type":"comment","z":"9a4fc325.9b342","name":"Display percent-value on pxlBlck using \"pbbar\" command","info":"","x":330,"y":80,"wires":[]},{"id":"ca57d25a.7dc41","type":"comment","z":"9a4fc325.9b342","name":"Display absolute value on pxlBlck using \"pbbar\" command","info":"","x":330,"y":440,"wires":[]},{"id":"ed43ade7.c0fa","type":"range","z":"9a4fc325.9b342","minin":"0","maxin":"30","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"set allowed range for scaling","x":680,"y":600,"wires":[["907690fc.9ab61"]]},{"id":"a85cc1aa.a71bc","type":"mqtt out","z":"9a4fc325.9b342","name":"","topic":"pxlBlck_32x8_ESP32/cmd","qos":"","retain":"","broker":"e314300a.e8a55","x":1120,"y":600,"wires":[]},{"id":"907690fc.9ab61","type":"function","z":"9a4fc325.9b342","name":"build command","func":"msg.payload=\"pbbar,2000,0,1,1,\"+msg.payload+\",0,10,0,\";\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":600,"wires":[["a85cc1aa.a71bc"]]},{"id":"796d64ff.5dd85c","type":"inject","z":"9a4fc325.9b342","name":"scale value 5 and send it","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":500,"wires":[["ed43ade7.c0fa"]]},{"id":"42dc608a.afbcb","type":"inject","z":"9a4fc325.9b342","name":"scale value 10 and send it","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":540,"wires":[["ed43ade7.c0fa"]]},{"id":"253cf1fd.07a4fe","type":"inject","z":"9a4fc325.9b342","name":"scale value 15 and send it","topic":"","payload":"15","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":580,"wires":[["ed43ade7.c0fa"]]},{"id":"ce748731.2c0cc8","type":"inject","z":"9a4fc325.9b342","name":"scale value 20 and send it","topic":"","payload":"20","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":620,"wires":[["ed43ade7.c0fa"]]},{"id":"ac279787.6299a8","type":"inject","z":"9a4fc325.9b342","name":"scale value 25 and send it","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":660,"wires":[["ed43ade7.c0fa"]]},{"id":"593ed2b9.8dfa9c","type":"inject","z":"9a4fc325.9b342","name":"scale value 30 and send it","topic":"","payload":"30","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":700,"wires":[["ed43ade7.c0fa"]]},{"id":"59b50a1f.9832d4","type":"comment","z":"9a4fc325.9b342","name":"Display five relative values using \"pbbar\" command","info":"","x":310,"y":780,"wires":[]},{"id":"941a1662.0c96e8","type":"mqtt out","z":"9a4fc325.9b342","name":"","topic":"pxlBlck_32x8_ESP32/cmd","qos":"","retain":"","broker":"e314300a.e8a55","x":860,"y":840,"wires":[]},{"id":"e1638b10.2c1af8","type":"function","z":"9a4fc325.9b342","name":"insert variables and build command","func":"var first_bar=flow.get(\"pxlBlck_test_value_1\");\nvar second_bar=flow.get(\"pxlBlck_test_value_2\");\nvar third_bar=flow.get(\"pxlBlck_test_value_3\");\nvar fourth_bar=flow.get(\"pxlBlck_test_value_4\");\nvar fifth_bar=flow.get(\"pxlBlck_test_value_5\");\n\nvar display_direction=flow.get(\"pxlBlck_test_display_direction\");\nvar first_bar_filled=flow.get(\"pxlBlck_test_first_bar_filled\");\nvar mirror_mode=flow.get(\"pxlBlck_test_mirror_mode\");\n\n\n\n\nmsg.payload=\"pbbar,2000,\"+mirror_mode+\",\"+first_bar_filled+\",\"+display_direction+\",\"+first_bar+\",0,25,0,\"+second_bar+\",25,0,0,\"+third_bar+\",0,0,25,\"+fourth_bar+\",25,25,0,\"+fifth_bar+\",0,25,25,\";\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":840,"wires":[["941a1662.0c96e8"]]},{"id":"7bbc8c1e.0e9b44","type":"inject","z":"9a4fc325.9b342","name":"set value to 10","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":340,"y":1140,"wires":[["a82a4c30.8f019"]]},{"id":"a82a4c30.8f019","type":"change","z":"9a4fc325.9b342","name":"set variable for first bar","rules":[{"t":"set","p":"pxlBlck_test_value_1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1200,"wires":[[]]},{"id":"2f47bf93.f8497","type":"change","z":"9a4fc325.9b342","name":"set variable for second bar","rules":[{"t":"set","p":"pxlBlck_test_value_2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1200,"wires":[[]]},{"id":"88598c2a.81a66","type":"change","z":"9a4fc325.9b342","name":"set variable for third bar","rules":[{"t":"set","p":"pxlBlck_test_value_3","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1460,"wires":[[]]},{"id":"ac95e21c.7dc18","type":"change","z":"9a4fc325.9b342","name":"set variable for fourth bar","rules":[{"t":"set","p":"pxlBlck_test_value_4","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":1460,"wires":[[]]},{"id":"33c0f131.6eb2fe","type":"change","z":"9a4fc325.9b342","name":"set variable for fifth bar","rules":[{"t":"set","p":"pxlBlck_test_value_5","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1720,"wires":[[]]},{"id":"8d552459.8c85b8","type":"inject","z":"9a4fc325.9b342","name":"send to pxlBlck","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":840,"wires":[["e1638b10.2c1af8"]]},{"id":"cc14bd7e.9ce68","type":"inject","z":"9a4fc325.9b342","name":"set value to 25","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":1180,"wires":[["a82a4c30.8f019"]]},{"id":"155e12c0.81491d","type":"inject","z":"9a4fc325.9b342","name":"set value to 0","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":1100,"wires":[["a82a4c30.8f019"]]},{"id":"ede79bc1.6afbf8","type":"inject","z":"9a4fc325.9b342","name":"set value to 50","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":1220,"wires":[["a82a4c30.8f019"]]},{"id":"f984afb6.8274d","type":"inject","z":"9a4fc325.9b342","name":"set value to 75","topic":"","payload":"75","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":1260,"wires":[["a82a4c30.8f019"]]},{"id":"763dd7c4.a4e658","type":"inject","z":"9a4fc325.9b342","name":"set value to 100","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":1300,"wires":[["a82a4c30.8f019"]]},{"id":"3cd51d36.97a032","type":"inject","z":"9a4fc325.9b342","name":"set value to 10","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":820,"y":1140,"wires":[["2f47bf93.f8497"]]},{"id":"a9384976.aa22a8","type":"inject","z":"9a4fc325.9b342","name":"set value to 25","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":820,"y":1180,"wires":[["2f47bf93.f8497"]]},{"id":"96d57222.bc3c","type":"inject","z":"9a4fc325.9b342","name":"set value to 0","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":810,"y":1100,"wires":[["2f47bf93.f8497"]]},{"id":"5aca8eca.f48a","type":"inject","z":"9a4fc325.9b342","name":"set value to 50","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":820,"y":1220,"wires":[["2f47bf93.f8497"]]},{"id":"fad1588.5571ca8","type":"inject","z":"9a4fc325.9b342","name":"set value to 75","topic":"","payload":"75","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":820,"y":1260,"wires":[["2f47bf93.f8497"]]},{"id":"cd144931.1add48","type":"inject","z":"9a4fc325.9b342","name":"set value to 100","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":820,"y":1300,"wires":[["2f47bf93.f8497"]]},{"id":"6b45b554.8dcb5c","type":"inject","z":"9a4fc325.9b342","name":"set value to 10","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":1400,"wires":[["88598c2a.81a66"]]},{"id":"8586436a.8f20e","type":"inject","z":"9a4fc325.9b342","name":"set value to 25","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":1440,"wires":[["88598c2a.81a66"]]},{"id":"4e94fd22.684464","type":"inject","z":"9a4fc325.9b342","name":"set value to 0","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":1360,"wires":[["88598c2a.81a66"]]},{"id":"4ee78f0c.9bc22","type":"inject","z":"9a4fc325.9b342","name":"set value to 50","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":340,"y":1480,"wires":[["88598c2a.81a66"]]},{"id":"cd2c7b9a.f0e6b8","type":"inject","z":"9a4fc325.9b342","name":"set value to 75","topic":"","payload":"75","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":1520,"wires":[["88598c2a.81a66"]]},{"id":"c1137685.f07408","type":"inject","z":"9a4fc325.9b342","name":"set value to 100","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":1560,"wires":[["88598c2a.81a66"]]},{"id":"b2296975.9ec6a8","type":"inject","z":"9a4fc325.9b342","name":"set value to 10","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":820,"y":1400,"wires":[["ac95e21c.7dc18"]]},{"id":"d17d8955.bbff28","type":"inject","z":"9a4fc325.9b342","name":"set value to 25","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":820,"y":1440,"wires":[["ac95e21c.7dc18"]]},{"id":"dddf897d.38d1f8","type":"inject","z":"9a4fc325.9b342","name":"set value to 0","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":810,"y":1360,"wires":[["ac95e21c.7dc18"]]},{"id":"2d50c244.b8374e","type":"inject","z":"9a4fc325.9b342","name":"set value to 50","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":820,"y":1480,"wires":[["ac95e21c.7dc18"]]},{"id":"4d032b7b.cb2ce4","type":"inject","z":"9a4fc325.9b342","name":"set value to 75","topic":"","payload":"75","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":820,"y":1520,"wires":[["ac95e21c.7dc18"]]},{"id":"1ee2e0fe.43910f","type":"inject","z":"9a4fc325.9b342","name":"set value to 100","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":820,"y":1560,"wires":[["ac95e21c.7dc18"]]},{"id":"f186d6ad.7fc588","type":"inject","z":"9a4fc325.9b342","name":"set value to 10","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":1660,"wires":[["33c0f131.6eb2fe"]]},{"id":"ef8b3bc2.44aed8","type":"inject","z":"9a4fc325.9b342","name":"set value to 25","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":1700,"wires":[["33c0f131.6eb2fe"]]},{"id":"97bf54b0.c48ec8","type":"inject","z":"9a4fc325.9b342","name":"set value to 0","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":1620,"wires":[["33c0f131.6eb2fe"]]},{"id":"2f0210af.3d85b","type":"inject","z":"9a4fc325.9b342","name":"set value to 50","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":1740,"wires":[["33c0f131.6eb2fe"]]},{"id":"81812c72.f6e74","type":"inject","z":"9a4fc325.9b342","name":"set value to 75","topic":"","payload":"75","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":1780,"wires":[["33c0f131.6eb2fe"]]},{"id":"e2085699.3471e8","type":"inject","z":"9a4fc325.9b342","name":"set value to 100","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":340,"y":1820,"wires":[["33c0f131.6eb2fe"]]},{"id":"e664cd0b.f4a76","type":"inject","z":"9a4fc325.9b342","name":"On","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":900,"wires":[["256edc42.df1cd4"]]},{"id":"256edc42.df1cd4","type":"change","z":"9a4fc325.9b342","name":"set filled_mode for first bar","rules":[{"t":"set","p":"pxlBlck_test_first_bar_filled","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":920,"wires":[[]]},{"id":"c00daf75.3c663","type":"inject","z":"9a4fc325.9b342","name":"Off","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":940,"wires":[["256edc42.df1cd4"]]},{"id":"c29bb262.fd614","type":"inject","z":"9a4fc325.9b342","name":"left2right","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":800,"y":900,"wires":[["75f27a9.a27c084"]]},{"id":"75f27a9.a27c084","type":"change","z":"9a4fc325.9b342","name":"set display_direction","rules":[{"t":"set","p":"pxlBlck_test_display_direction","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":920,"wires":[[]]},{"id":"ed714a51.7e09a8","type":"inject","z":"9a4fc325.9b342","name":"bottom2Top","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":810,"y":940,"wires":[["75f27a9.a27c084"]]},{"id":"6889a109.cb29e","type":"inject","z":"9a4fc325.9b342","name":"mirrored","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":1000,"wires":[["999c6f90.b9d6f"]]},{"id":"999c6f90.b9d6f","type":"change","z":"9a4fc325.9b342","name":"set mirror_mode","rules":[{"t":"set","p":"pxlBlck_test_mirror_mode","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1020,"wires":[[]]},{"id":"914896c1.28f948","type":"inject","z":"9a4fc325.9b342","name":"not mirrored","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":330,"y":1040,"wires":[["999c6f90.b9d6f"]]},{"id":"e314300a.e8a55","type":"mqtt-broker","z":"","name":"Server-Mqtt","broker":"server.fritz.box","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]