snippets/simple_servo_butterfly_valve_control.json
[{"id":"d626900d.37097","type":"mqtt out","z":"e787e628.1a47e8","name":"","topic":"deFume_servoController/cmd","qos":"","retain":"","broker":"e314300a.e8a55","x":730,"y":1740,"wires":[]},{"id":"e329e521.e284f8","type":"link in","z":"e787e628.1a47e8","name":"openSolderingVentilationBranch","links":["59d5209a.6b175","b4de5499.bdde88"],"x":155,"y":1720,"wires":[["fdbdfcad.39286"]]},{"id":"62c138b0.39ed38","type":"link in","z":"e787e628.1a47e8","name":"closeSolderingVentilationBranch","links":["e1fefc83.06583","e6748b2e.1bada8"],"x":155,"y":1760,"wires":[["ebe3fdb8.ee3da"]]},{"id":"fdbdfcad.39286","type":"change","z":"e787e628.1a47e8","name":"open valve","rules":[{"t":"set","p":"payload","pt":"msg","to":"PCAPWM,0,300,","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"deFume_servoController/cmd","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1720,"wires":[["d626900d.37097","8116ac25.0939b"]]},{"id":"ebe3fdb8.ee3da","type":"change","z":"e787e628.1a47e8","name":"close valve","rules":[{"t":"set","p":"payload","pt":"msg","to":"PCAPWM,0,50,","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"deFume_servoController/cmd","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1760,"wires":[["d626900d.37097","79d123b9.ac4cbc"]]},{"id":"8116ac25.0939b","type":"debug","z":"e787e628.1a47e8","name":"openSolderingBranch","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":700,"y":1700,"wires":[]},{"id":"79d123b9.ac4cbc","type":"debug","z":"e787e628.1a47e8","name":"closeSolderingBranch","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":700,"y":1800,"wires":[]},{"id":"a5924a65.d12e98","type":"comment","z":"e787e628.1a47e8","name":"Valve control: Soldering branch","info":"","x":250,"y":1620,"wires":[]},{"id":"8a32bcb0.ddffa","type":"mqtt out","z":"e787e628.1a47e8","name":"","topic":"deFume_servoController/cmd","qos":"","retain":"","broker":"e314300a.e8a55","x":730,"y":1980,"wires":[]},{"id":"680a09e2.1ee568","type":"link in","z":"e787e628.1a47e8","name":"open3dPrinterVentilationBranch","links":["c7b535f5.f2e2b8","1dbc3a39.61edd6"],"x":155,"y":1960,"wires":[["5eb6d9b0.401eb8"]]},{"id":"e173fe06.b500a","type":"link in","z":"e787e628.1a47e8","name":"close3dPrinterVentilationBranch","links":["d4dc602c.7fc4","5f42cb6f.a7c424"],"x":155,"y":2000,"wires":[["c69ea4f2.f11aa8"]]},{"id":"5eb6d9b0.401eb8","type":"change","z":"e787e628.1a47e8","name":"open valve","rules":[{"t":"set","p":"payload","pt":"msg","to":"PCAPWM,1,300,","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"deFume_servoController/cmd","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1960,"wires":[["8a32bcb0.ddffa","48d58da2.b2a424"]]},{"id":"c69ea4f2.f11aa8","type":"change","z":"e787e628.1a47e8","name":"close valve","rules":[{"t":"set","p":"payload","pt":"msg","to":"PCAPWM,1,50,","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"deFume_servoController/cmd","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":2000,"wires":[["8a32bcb0.ddffa","c4006694.d21178"]]},{"id":"48d58da2.b2a424","type":"debug","z":"e787e628.1a47e8","name":"open3dPrinterBranch","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":700,"y":1940,"wires":[]},{"id":"c4006694.d21178","type":"debug","z":"e787e628.1a47e8","name":"close3dPrinterBranch","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":700,"y":2040,"wires":[]},{"id":"91230e3c.5c239","type":"comment","z":"e787e628.1a47e8","name":"Valve control: 3d printer branch","info":"","x":250,"y":1860,"wires":[]},{"id":"6b42c4e0.bc735c","type":"inject","z":"e787e628.1a47e8","name":"open","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":1920,"wires":[["5eb6d9b0.401eb8"]]},{"id":"32347206.7963fe","type":"inject","z":"e787e628.1a47e8","name":"close","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":2040,"wires":[["c69ea4f2.f11aa8"]]},{"id":"9df19741.4ff548","type":"inject","z":"e787e628.1a47e8","name":"open","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":1680,"wires":[["fdbdfcad.39286"]]},{"id":"3c7cf508.73795a","type":"inject","z":"e787e628.1a47e8","name":"close","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":1800,"wires":[["ebe3fdb8.ee3da"]]},{"id":"e314300a.e8a55","type":"mqtt-broker","z":"","name":"Server-Mqtt","broker":"server.fritz.box","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]