snippets/spotify_control.json
[{"id":"e661d206.c7c55","type":"spotify","z":"de6ec8b5.9aec88","name":"","auth":"","api":"getMyCurrentPlayingTrack","x":580,"y":140,"wires":[["52696074.301e8","6537c2aa.5496cc","d3caf1ab.2b0f8","f3f703e2.dcd1d","73758c5b.7cefe4","1636ec5e.7eda44","cb160e2b.6e7f2"]]},{"id":"8dc9c472.c64648","type":"inject","z":"de6ec8b5.9aec88","name":"1s/1s","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":false,"onceDelay":"1","x":330,"y":140,"wires":[["e661d206.c7c55"]]},{"id":"52696074.301e8","type":"debug","z":"de6ec8b5.9aec88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":120,"wires":[]},{"id":"63825d78.e1ab14","type":"mqtt out","z":"de6ec8b5.9aec88","name":"","topic":"spotify","qos":"","retain":"","broker":"ffd2a818.2382e8","x":1050,"y":160,"wires":[]},{"id":"6537c2aa.5496cc","type":"change","z":"de6ec8b5.9aec88","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.item.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":160,"wires":[["63825d78.e1ab14"]]},{"id":"d3caf1ab.2b0f8","type":"ui_text","z":"de6ec8b5.9aec88","group":"b7b4f72e.224ef8","order":4,"width":0,"height":0,"name":"","label":"Track","format":"{{msg.payload.item.name}}","layout":"col-center","x":850,"y":200,"wires":[]},{"id":"93252e4c.1d66d","type":"spotify","z":"de6ec8b5.9aec88","name":"","auth":"","api":"skipToNext","x":530,"y":260,"wires":[[]]},{"id":"af685ddf.5fdc7","type":"ui_button","z":"de6ec8b5.9aec88","name":"","group":"b7b4f72e.224ef8","order":1,"width":"4","height":"1","passthru":false,"label":"Previous","tooltip":"","color":"","bgcolor":"","icon":"skip_previous","payload":"true","payloadType":"bool","topic":"","x":320,"y":340,"wires":[["20d5243a.0fbe1c"]]},{"id":"20d5243a.0fbe1c","type":"spotify","z":"de6ec8b5.9aec88","name":"","auth":"","api":"skipToPrevious","x":540,"y":300,"wires":[[]]},{"id":"201e3d60.25e892","type":"ui_button","z":"de6ec8b5.9aec88","name":"","group":"b7b4f72e.224ef8","order":3,"width":"4","height":"1","passthru":false,"label":"Next","tooltip":"","color":"","bgcolor":"","icon":"skip_next","payload":"true","payloadType":"bool","topic":"","x":330,"y":220,"wires":[["93252e4c.1d66d"]]},{"id":"48ea5690.f9b4d8","type":"mqtt in","z":"de6ec8b5.9aec88","name":"","topic":"spotify.next","qos":"2","datatype":"auto","broker":"ffd2a818.2382e8","x":320,"y":180,"wires":[["93252e4c.1d66d"]]},{"id":"4a753045.b86a9","type":"mqtt in","z":"de6ec8b5.9aec88","name":"","topic":"spotify.prev","qos":"2","datatype":"auto","broker":"ffd2a818.2382e8","x":320,"y":380,"wires":[["20d5243a.0fbe1c"]]},{"id":"f3f703e2.dcd1d","type":"ui_template","z":"de6ec8b5.9aec88","group":"b7b4f72e.224ef8","name":"Album Pic","order":5,"width":"12","height":"6","format":"<div height=\"{{msg.payload.item.album.images[1].height}}\" align=\"center\">\n<IMG ng-src=\"{{msg.payload.item.album.images[1].url}}\"></IMG>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":860,"y":240,"wires":[[]]},{"id":"adfa9229.44005","type":"ui_switch","z":"de6ec8b5.9aec88","name":"Play/Pause","label":"","tooltip":"","group":"b7b4f72e.224ef8","order":2,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"play_circle_outline","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"pause_circle_outline","offcolor":"red","x":870,"y":360,"wires":[["b493ccd9.7549e"]]},{"id":"73758c5b.7cefe4","type":"change","z":"de6ec8b5.9aec88","name":"","rules":[{"t":"move","p":"payload.is_playing","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":300,"wires":[["adfa9229.44005"]]},{"id":"449e7fe8.ed91c","type":"switch","z":"de6ec8b5.9aec88","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":460,"wires":[["49aeb51f.f69e7c"],["91a9fb39.a0c488"]]},{"id":"49aeb51f.f69e7c","type":"spotify","z":"de6ec8b5.9aec88","name":"","auth":"","api":"play","x":1010,"y":440,"wires":[[]]},{"id":"91a9fb39.a0c488","type":"spotify","z":"de6ec8b5.9aec88","name":"","auth":"","api":"pause","x":1010,"y":480,"wires":[[]]},{"id":"b493ccd9.7549e","type":"rbe","z":"de6ec8b5.9aec88","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1010,"y":360,"wires":[["449e7fe8.ed91c"]]},{"id":"8b75d15d.14724","type":"inject","z":"de6ec8b5.9aec88","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":850,"y":500,"wires":[["91a9fb39.a0c488"]]},{"id":"e75ef7b1.8a8cc8","type":"inject","z":"de6ec8b5.9aec88","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":850,"y":420,"wires":[["49aeb51f.f69e7c"]]},{"id":"b50bffb2.8cd2e","type":"inject","z":"de6ec8b5.9aec88","name":"Next","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":260,"wires":[["93252e4c.1d66d"]]},{"id":"fc3cc55c.d78be8","type":"inject","z":"de6ec8b5.9aec88","name":"Prev","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":300,"wires":[["20d5243a.0fbe1c"]]},{"id":"ee539f4e.daae6","type":"spotify","z":"de6ec8b5.9aec88","name":"","auth":"","api":"getTrack","x":720,"y":660,"wires":[["3110223.f9916de","f81cc00f.da28c","7a424b59.aea784"]]},{"id":"3110223.f9916de","type":"debug","z":"de6ec8b5.9aec88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":950,"y":620,"wires":[]},{"id":"852fe8d1.54d648","type":"rbe","z":"de6ec8b5.9aec88","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":730,"y":560,"wires":[["c0e0b884.8bb798"]]},{"id":"f81cc00f.da28c","type":"debug","z":"de6ec8b5.9aec88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"params","targetType":"msg","x":950,"y":660,"wires":[]},{"id":"c0e0b884.8bb798","type":"change","z":"de6ec8b5.9aec88","name":"","rules":[{"t":"set","p":"params","pt":"msg","to":"[payload]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":660,"wires":[["ee539f4e.daae6"]]},{"id":"1636ec5e.7eda44","type":"change","z":"de6ec8b5.9aec88","name":"","rules":[{"t":"move","p":"payload.progress_ms","pt":"msg","to":"progress","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":720,"wires":[["522baaad.13f3d4","3489e8d.b5af918"]]},{"id":"7a424b59.aea784","type":"change","z":"de6ec8b5.9aec88","name":"","rules":[{"t":"move","p":"payload.duration_ms","pt":"msg","to":"duration","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":760,"wires":[["34c73e32.3815e2","3489e8d.b5af918"]]},{"id":"7e5aec24.de9f14","type":"ui_numeric","z":"de6ec8b5.9aec88","name":"","label":"progress","tooltip":"","group":"b7b4f72e.224ef8","order":6,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":980,"y":720,"wires":[[]]},{"id":"522baaad.13f3d4","type":"change","z":"de6ec8b5.9aec88","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"progress/1000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":720,"wires":[["7e5aec24.de9f14"]],"outputLabels":["seconds"]},{"id":"34c73e32.3815e2","type":"change","z":"de6ec8b5.9aec88","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"duration/1000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":760,"wires":[["100098ee.c87d77"]],"outputLabels":["seconds"]},{"id":"100098ee.c87d77","type":"ui_numeric","z":"de6ec8b5.9aec88","name":"","label":"duration","tooltip":"","group":"b7b4f72e.224ef8","order":7,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":980,"y":760,"wires":[[]]},{"id":"551458e4.52c458","type":"ui_slider","z":"de6ec8b5.9aec88","name":"","label":"","tooltip":"","group":"b7b4f72e.224ef8","order":9,"width":"8","height":"1","passthru":true,"outs":"end","topic":"","min":0,"max":10,"step":1,"x":570,"y":840,"wires":[["e58fdfaa.6e0a7"]]},{"id":"3489e8d.b5af918","type":"change","z":"de6ec8b5.9aec88","name":"","rules":[{"t":"set","p":"ui_control","pt":"msg","to":"{\"min\":1,\"max\":$.duration}","tot":"jsonata"},{"t":"move","p":"progress","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":840,"wires":[["551458e4.52c458"]]},{"id":"ba37ebc.f384718","type":"spotify","z":"de6ec8b5.9aec88","name":"","auth":"","api":"seek","x":990,"y":920,"wires":[[]]},{"id":"3b057468.a21acc","type":"change","z":"de6ec8b5.9aec88","name":"","rules":[{"t":"set","p":"params","pt":"msg","to":"[payload]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":920,"wires":[["ba37ebc.f384718"]]},{"id":"e58fdfaa.6e0a7","type":"rbe","z":"de6ec8b5.9aec88","name":"","func":"deadband","gap":"3000","start":"","inout":"in","property":"payload","x":740,"y":840,"wires":[["8295ff58.95dd4"]]},{"id":"cb160e2b.6e7f2","type":"change","z":"de6ec8b5.9aec88","name":"","rules":[{"t":"move","p":"payload.item.id","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":560,"wires":[["852fe8d1.54d648"]]},{"id":"8295ff58.95dd4","type":"trigger","z":"de6ec8b5.9aec88","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"1000","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":400,"y":920,"wires":[["a60e7ddf.75421"]]},{"id":"a60e7ddf.75421","type":"rbe","z":"de6ec8b5.9aec88","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":590,"y":920,"wires":[["3b057468.a21acc"]]},{"id":"14c73661.a485ca","type":"change","z":"de6ec8b5.9aec88","name":"","rules":[{"t":"set","p":"minutes","pt":"msg","to":"(payload/60)-((payload/60)%1)","tot":"jsonata"},{"t":"set","p":"seconds","pt":"msg","to":"(payload%60)","tot":"jsonata"},{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"params","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1020,"wires":[["1fda4d5b.06e4b3"]]},{"id":"1fda4d5b.06e4b3","type":"change","z":"de6ec8b5.9aec88","name":"","rules":[{"t":"move","p":"minutes","pt":"msg","to":"payload[0]","tot":"msg"},{"t":"move","p":"seconds","pt":"msg","to":"payload[1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1020,"wires":[["df808c53.4cdf2"]]},{"id":"7e75e2eb.52c2cc","type":"ui_text","z":"de6ec8b5.9aec88","group":"b7b4f72e.224ef8","order":10,"width":"2","height":"1","name":"total","label":"","format":"{{msg.payload}}","layout":"row-spread","x":990,"y":1020,"wires":[]},{"id":"965fed2.8b5d51","type":"change","z":"de6ec8b5.9aec88","name":"","rules":[{"t":"set","p":"minutes","pt":"msg","to":"(payload/60)-((payload/60)%1)","tot":"jsonata"},{"t":"set","p":"seconds","pt":"msg","to":"(payload%60)","tot":"jsonata"},{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"params","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1080,"wires":[["9b7e09d9.40dec8"]]},{"id":"9b7e09d9.40dec8","type":"change","z":"de6ec8b5.9aec88","name":"","rules":[{"t":"move","p":"minutes","pt":"msg","to":"payload[0]","tot":"msg"},{"t":"move","p":"seconds","pt":"msg","to":"payload[1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1080,"wires":[["41d460db.8fba1"]]},{"id":"b7c2b84b.fa4a18","type":"ui_text","z":"de6ec8b5.9aec88","group":"b7b4f72e.224ef8","order":8,"width":"2","height":"1","name":"current","label":"","format":"{{msg.payload}}","layout":"row-spread","x":990,"y":1080,"wires":[]},{"id":"41d460db.8fba1","type":"range","z":"de6ec8b5.9aec88","minin":"0","maxin":"60","minout":"0","maxout":"60","action":"scale","round":true,"property":"payload[1]","name":"","x":830,"y":1080,"wires":[["b7c2b84b.fa4a18"]]},{"id":"df808c53.4cdf2","type":"range","z":"de6ec8b5.9aec88","minin":"0","maxin":"60","minout":"0","maxout":"60","action":"scale","round":true,"property":"payload[1]","name":"","x":830,"y":1020,"wires":[["7e75e2eb.52c2cc"]]},{"id":"aa9492b1.ffe72","type":"comment","z":"de6ec8b5.9aec88","name":"Spotify control","info":"","x":200,"y":80,"wires":[]},{"id":"ffd2a818.2382e8","type":"mqtt-broker","z":"","name":"test","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b7b4f72e.224ef8","type":"ui_group","z":"","name":"Spotify","tab":"52824436.75fbec","order":1,"disp":false,"width":"12","collapse":false},{"id":"52824436.75fbec","type":"ui_tab","z":"","name":"Spotify","icon":"my_library_music","disabled":false,"hidden":false}]