snippets/switch_monitor_state_raspberryPi.json
[{"id":"9e8a0993.025938","type":"exec","z":"b620f09.5b2141","command":"vcgencmd display_power 0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1060,"y":200,"wires":[["70cf3578.8556dc"],[],[]]},{"id":"530012ba.b11bac","type":"inject","z":"b620f09.5b2141","name":"Switch screen off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":220,"wires":[["5895a5ed.3e17ac","b1806baf.df6428"]]},{"id":"70cf3578.8556dc","type":"debug","z":"b620f09.5b2141","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1290,"y":200,"wires":[]},{"id":"9244114c.b246d","type":"exec","z":"b620f09.5b2141","command":"vcgencmd display_power 1","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1060,"y":340,"wires":[["2110370c.c7b6e8"],[],[]]},{"id":"36a017a9.1fe5c8","type":"inject","z":"b620f09.5b2141","name":"Switch screen on","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":340,"wires":[["5895a5ed.3e17ac","756aeb2f.51bb14"]]},{"id":"2110370c.c7b6e8","type":"debug","z":"b620f09.5b2141","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1290,"y":340,"wires":[]},{"id":"5895a5ed.3e17ac","type":"exec","z":"b620f09.5b2141","command":"vcgencmd display_power","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":510,"y":460,"wires":[["e7dd87a5.8503f8","4f5402b.27728fc","942038db.72d018","6e27425c.300ccc"],[],[]]},{"id":"6dfe4828.1cedc8","type":"inject","z":"b620f09.5b2141","name":"Screen state?","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":460,"wires":[["5895a5ed.3e17ac"]]},{"id":"e7dd87a5.8503f8","type":"debug","z":"b620f09.5b2141","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":420,"wires":[]},{"id":"4f5402b.27728fc","type":"function","z":"b620f09.5b2141","name":"saveState","func":"var state = msg.payload.trim()==\"display_power=1\";\n\n//var state=stateTupples[1]==\"display_power=1\";\n\nglobal.set(\"monitorState\", state);\n\nmsg.payload = state;\n\nreturn msg","outputs":1,"noerr":0,"x":720,"y":500,"wires":[["3a3ccd10.37f5f2","6efcf2a0.fbc4dc"]]},{"id":"3a3ccd10.37f5f2","type":"debug","z":"b620f09.5b2141","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":520,"wires":[]},{"id":"6efcf2a0.fbc4dc","type":"function","z":"b620f09.5b2141","name":"convertToColor","func":"if (global.get(\"monitorState\"))\n    {\n        msg.background =\"green\";\n    } else\n    {\n        msg.background =\"red\";\n    }\n\nreturn msg","outputs":1,"noerr":0,"x":920,"y":460,"wires":[["a8fdafaa.ea03f","c726c728.067f18"]]},{"id":"c726c728.067f18","type":"debug","z":"b620f09.5b2141","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":440,"wires":[]},{"id":"d59e9da3.61e5d","type":"link in","z":"b620f09.5b2141","name":"switchMonitorOff","links":["7dad3649.0f8188","272f0256.bb2b8e","6ca2f0e6.f84a9"],"x":195,"y":260,"wires":[["5895a5ed.3e17ac","b1806baf.df6428"]]},{"id":"8dc0b2a3.85b1c","type":"link in","z":"b620f09.5b2141","name":"switchMonitorOn","links":["badc5ea3.b031f","1311f3b4.a3d94c","365d0565.fda4ea"],"x":195,"y":380,"wires":[["5895a5ed.3e17ac","756aeb2f.51bb14"]]},{"id":"f7f53ed6.79183","type":"link in","z":"b620f09.5b2141","name":"toggleMonitor","links":["1a05cc4a.142f34"],"x":175,"y":720,"wires":[["e865b701.ce3a38"]]},{"id":"e865b701.ce3a38","type":"switch","z":"b620f09.5b2141","name":"","property":"monitorState","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":720,"wires":[["6ca2f0e6.f84a9","20529ce7.6826d4"],["365d0565.fda4ea","ff2634f4.0e9d48"]]},{"id":"6ca2f0e6.f84a9","type":"link out","z":"b620f09.5b2141","name":"","links":["d59e9da3.61e5d","6ec0de1f.6892"],"x":435,"y":700,"wires":[]},{"id":"365d0565.fda4ea","type":"link out","z":"b620f09.5b2141","name":"","links":["8dc0b2a3.85b1c","8cc9d711.a54b38"],"x":435,"y":740,"wires":[]},{"id":"cb39fc29.157f6","type":"comment","z":"b620f09.5b2141","name":"Toggle screen state","info":"","x":230,"y":580,"wires":[]},{"id":"756aeb2f.51bb14","type":"function","z":"b620f09.5b2141","name":"plan to switch on if needed","func":"global.set(\"switchMonitorOn\", true);","outputs":1,"noerr":0,"x":560,"y":300,"wires":[[]]},{"id":"942038db.72d018","type":"function","z":"b620f09.5b2141","name":"convertToColor","func":"msg.payload=(!global.get(\"monitorState\") && global.get(\"switchMonitorOn\"));\n\nif(msg.payload)\n{\nreturn msg;\n}\nglobal.set(\"switchMonitorOn\", false);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":320,"wires":[["f2681226.52fa9","9244114c.b246d","fc35dd5d.e3172"]]},{"id":"f2681226.52fa9","type":"debug","z":"b620f09.5b2141","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":280,"wires":[]},{"id":"b1806baf.df6428","type":"function","z":"b620f09.5b2141","name":"plan to switch off if needed","func":"global.set(\"switchMonitorOff\", true);","outputs":1,"noerr":0,"x":560,"y":180,"wires":[[]]},{"id":"6e27425c.300ccc","type":"function","z":"b620f09.5b2141","name":"convertToColor","func":"msg.payload=(global.get(\"monitorState\") && global.get(\"switchMonitorOff\"));\n\nif(msg.payload)\n{\nreturn msg;\n}\nglobal.set(\"switchMonitorOff\", false);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":180,"wires":[["9e8a0993.025938","40ae493e.d16fb8","c2c83132.301eb"]]},{"id":"40ae493e.d16fb8","type":"debug","z":"b620f09.5b2141","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":140,"wires":[]},{"id":"c2c83132.301eb","type":"change","z":"b620f09.5b2141","name":"0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":240,"wires":[["58f384b8.d3c38c"]]},{"id":"fc35dd5d.e3172","type":"change","z":"b620f09.5b2141","name":"1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":300,"wires":[["58f384b8.d3c38c"]]},{"id":"ff2634f4.0e9d48","type":"debug","z":"b620f09.5b2141","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":780,"wires":[]},{"id":"20529ce7.6826d4","type":"debug","z":"b620f09.5b2141","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":660,"wires":[]},{"id":"923be6da.5f5e88","type":"ui_button","z":"b620f09.5b2141","name":"","group":"7d7d4e6b.42955","order":2,"width":0,"height":0,"passthru":false,"label":"Switch screen off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Sicher?","payloadType":"str","topic":"","x":230,"y":180,"wires":[["5895a5ed.3e17ac","b1806baf.df6428"]]},{"id":"bd525809.a6d8a8","type":"ui_button","z":"b620f09.5b2141","name":"","group":"7d7d4e6b.42955","order":3,"width":0,"height":0,"passthru":false,"label":"Switch screen on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Sicher?","payloadType":"str","topic":"","x":230,"y":300,"wires":[["5895a5ed.3e17ac","756aeb2f.51bb14"]]},{"id":"9a699620.f9cf78","type":"ui_button","z":"b620f09.5b2141","name":"","group":"7d7d4e6b.42955","order":4,"width":0,"height":0,"passthru":false,"label":"Get screen state","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Sicher?","payloadType":"str","topic":"","x":220,"y":420,"wires":[["5895a5ed.3e17ac"]]},{"id":"a8fdafaa.ea03f","type":"ui_button","z":"b620f09.5b2141","name":"","group":"7d7d4e6b.42955","order":8,"width":0,"height":0,"passthru":false,"label":"Monitor state?","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"","payloadType":"str","topic":"","x":1140,"y":480,"wires":[["5895a5ed.3e17ac"]]},{"id":"58f384b8.d3c38c","type":"ui_chart","z":"b620f09.5b2141","name":"","group":"7d7d4e6b.42955","order":4,"width":0,"height":0,"label":"History","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1440,"y":260,"wires":[[]]},{"id":"4b886ac9.bc3824","type":"inject","z":"b620f09.5b2141","name":"Toggle screen state","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":660,"wires":[["e865b701.ce3a38"]]},{"id":"3ec7d12b.17e7ee","type":"comment","z":"b620f09.5b2141","name":"RaspberryPi screen control","info":"","x":250,"y":100,"wires":[]},{"id":"7d7d4e6b.42955","type":"ui_group","name":"ScreenControl","tab":"157697a5.ce0fd8","order":1,"disp":true,"width":"6","collapse":false},{"id":"157697a5.ce0fd8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]