snippets/tankerkoenig_api_retrieval.json
[{"id":"9a08f077.1116","type":"tankerkoenig","z":"713cbad1.f30474","name":"","location":"bc10f7a1.f0b698","x":330,"y":4460,"wires":[["e19ca8c8.053e18","95505c08.13806"]]},{"id":"c6b37059.f520b","type":"inject","z":"713cbad1.f30474","name":"","topic":"","payload":"","payloadType":"date","repeat":"1800","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":4460,"wires":[["9a08f077.1116"]]},{"id":"5a8e007a.49dfb","type":"comment","z":"713cbad1.f30474","name":"Retrieve Fuel prices from tankerkoenig.de api","info":"// Key für den Zugriff auf die freie Tankerkönig-Spritpreis-API\n// Für eigenen Key bitte hier https://creativecommons.tankerkoenig.de\n// registrieren.\nvar tankerkoenig_api_key = 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx'; // TODO: Key ersetzen","x":230,"y":4380,"wires":[]},{"id":"e19ca8c8.053e18","type":"debug","z":"713cbad1.f30474","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":4440,"wires":[]},{"id":"6e37e394.50d8dc","type":"ui_table","z":"713cbad1.f30474","group":"3f8ee2bc.faface","name":"Fuel prices","order":5,"width":"35","height":"12","columns":[{"field":"ID","title":"Nr","width":"3%","align":"left","formatter":"rownum","formatterParams":{"target":"_blank"}},{"field":"name","title":"Name","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"isOpen","title":"Opened?","width":"5%","align":"left","formatter":"tickCross","formatterParams":{"target":"_blank"}},{"field":"dist","title":"Distance","width":"5%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"diesel","title":"Diesel","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"e5","title":"E5","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"e10","title":"E10","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"brand","title":"Brand","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"street","title":"Street","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"place","title":"City","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":690,"y":4480,"wires":[]},{"id":"95505c08.13806","type":"function","z":"713cbad1.f30474","name":"convert data","func":"\nvar entries = [];\n\nfor (var i = 0; i < msg.payload.length; i++) \n{\n    var actual_line = msg.payload[i]; \n\n    entries.push({\n        name: actual_line.name,\n        street: actual_line.street+\" \"+actual_line.houseNumber,\n        diesel: actual_line.diesel+\" €\",\n        e5: actual_line.e5+\" €\",\n        e10: actual_line.e10+\" €\",\n        isOpen: actual_line.isOpen,\n        place: actual_line.postCode + \" \" + actual_line.place,\n        dist: actual_line.dist+\" km\",\n        brand: actual_line.brand,\n    });\n    \n}\n\nvar msgNew= {payload: entries};\nreturn msgNew;","outputs":1,"noerr":0,"x":510,"y":4480,"wires":[["6e37e394.50d8dc","fbd8cd1.4a0083"]]},{"id":"fbd8cd1.4a0083","type":"debug","z":"713cbad1.f30474","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":4440,"wires":[]},{"id":"bc10f7a1.f0b698","type":"tankerkoenig-config","z":"","name":"Bochum","longitude":"7.158999240481046","latitude":"51.46535929047349","radius":"2","petroltype":"all","key":""},{"id":"3f8ee2bc.faface","type":"ui_group","z":"","name":"Status","tab":"b881d91c.f73d98","order":1,"disp":true,"width":"35","collapse":false},{"id":"b881d91c.f73d98","type":"ui_tab","z":"","name":"Status","icon":"dashboard","order":4,"disabled":false,"hidden":false}]