snippets/zigbee_ikea_tradfri_e1525_e1745_motion_sensor.json
[
    {
        "id": "9c670e38fb3ed4fc",
        "type": "mqtt in",
        "z": "3f4bfd26.20bba2",
        "name": "Motion Sensor TRADFRI 1",
        "topic": "zigbee2mqtt/0xXXX",
        "qos": "2",
        "datatype": "auto",
        "broker": "e314300a.e8a55",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1650,
        "y": 4640,
        "wires": [
            [
                "9bcee2f0ec46c843"
            ]
        ]
    },
    {
        "id": "9bcee2f0ec46c843",
        "type": "json",
        "z": "3f4bfd26.20bba2",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1860,
        "y": 4640,
        "wires": [
            [
                "37dec7f80e929657",
                "436f3e7be0563f31",
                "f269c75e1692b145",
                "d0e6f063f9548003",
                "560237aadc253915",
                "d90415bd2e37afa3"
            ]
        ]
    },
    {
        "id": "37dec7f80e929657",
        "type": "debug",
        "z": "3f4bfd26.20bba2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 2030,
        "y": 4560,
        "wires": []
    },
    {
        "id": "436f3e7be0563f31",
        "type": "change",
        "z": "3f4bfd26.20bba2",
        "name": "battery",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.battery",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2040,
        "y": 4680,
        "wires": [
            [
                "e81f50d808fe9fe3",
                "0479bfe2ef5dc7c1"
            ]
        ]
    },
    {
        "id": "f269c75e1692b145",
        "type": "change",
        "z": "3f4bfd26.20bba2",
        "name": "linkquality",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.linkquality",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2040,
        "y": 4720,
        "wires": [
            [
                "798768347fd58fed"
            ]
        ]
    },
    {
        "id": "e81f50d808fe9fe3",
        "type": "ui_gauge",
        "z": "3f4bfd26.20bba2",
        "name": "",
        "group": "4229bceb.57ece4",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "MotionSensor1 battery",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#80ff00"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 2310,
        "y": 4680,
        "wires": []
    },
    {
        "id": "798768347fd58fed",
        "type": "ui_gauge",
        "z": "3f4bfd26.20bba2",
        "name": "",
        "group": "4229bceb.57ece4",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "MotionSensor1 signal",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#80ff00"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 2310,
        "y": 4720,
        "wires": []
    },
    {
        "id": "de6d0382c4732b6d",
        "type": "comment",
        "z": "3f4bfd26.20bba2",
        "name": "MotionSensor(Ikea TRADFRI) 1",
        "info": "",
        "x": 1630,
        "y": 4500,
        "wires": []
    },
    {
        "id": "0479bfe2ef5dc7c1",
        "type": "function",
        "z": "3f4bfd26.20bba2",
        "name": "check",
        "func": "    flow.set(\"batteryEmpty-MotionSensorTradfri1\", (msg.payload<=20));\n    msg.payload=(msg.payload<=20);\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2510,
        "y": 4680,
        "wires": [
            [
                "69cadf459051a78f",
                "2e787aa893fe7492"
            ]
        ]
    },
    {
        "id": "69cadf459051a78f",
        "type": "trigger",
        "z": "3f4bfd26.20bba2",
        "name": "",
        "op1": "Battery level of tradfri motion sensor is below 20%.",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "false",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 2700,
        "y": 4680,
        "wires": [
            [
                "acb5e31753ce3bc0",
                "b6d78346c0af883b",
                "bb1a4a4037a412ba"
            ]
        ]
    },
    {
        "id": "acb5e31753ce3bc0",
        "type": "pushbullet",
        "z": "3f4bfd26.20bba2",
        "config": "139243fe.5b95ac",
        "pushtype": "note",
        "title": "KlugesHaus",
        "chan": "",
        "name": "",
        "x": 2910,
        "y": 4680,
        "wires": []
    },
    {
        "id": "2e787aa893fe7492",
        "type": "debug",
        "z": "3f4bfd26.20bba2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 2670,
        "y": 4720,
        "wires": []
    },
    {
        "id": "d0e6f063f9548003",
        "type": "switch",
        "z": "3f4bfd26.20bba2",
        "name": "occupancy",
        "property": "payload.occupancy",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2050,
        "y": 4640,
        "wires": [
            [
                "a97d983e3b7cf15a"
            ],
            [
                "a085f88b61b20d9e"
            ]
        ]
    },
    {
        "id": "560237aadc253915",
        "type": "change",
        "z": "3f4bfd26.20bba2",
        "name": "illuminance_above_threshold",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.illuminance_above_threshold",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2100,
        "y": 4760,
        "wires": [
            [
                "f600d819579f9a6d"
            ]
        ]
    },
    {
        "id": "d90415bd2e37afa3",
        "type": "change",
        "z": "3f4bfd26.20bba2",
        "name": "update_available",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.update_available",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2070,
        "y": 4800,
        "wires": [
            [
                "a0990fcd5317e6e8"
            ]
        ]
    },
    {
        "id": "a0990fcd5317e6e8",
        "type": "ui_button",
        "z": "3f4bfd26.20bba2",
        "name": "",
        "group": "4229bceb.57ece4",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "MotionSensor1 update",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0xXXX",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 2310,
        "y": 4800,
        "wires": [
            [
                "c952b5168ccd3077"
            ]
        ]
    },
    {
        "id": "c952b5168ccd3077",
        "type": "mqtt out",
        "z": "3f4bfd26.20bba2",
        "name": "Update",
        "topic": "zigbee2mqtt/bridge/ota_update/update",
        "qos": "",
        "retain": "",
        "broker": "e314300a.e8a55",
        "x": 2520,
        "y": 4800,
        "wires": []
    },
    {
        "id": "4e74f71dae19df28",
        "type": "inject",
        "z": "3f4bfd26.20bba2",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 2050,
        "y": 4840,
        "wires": [
            [
                "ef05aca0979e3c04"
            ]
        ]
    },
    {
        "id": "ef05aca0979e3c04",
        "type": "change",
        "z": "3f4bfd26.20bba2",
        "name": "disable",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2200,
        "y": 4840,
        "wires": [
            [
                "a0990fcd5317e6e8"
            ]
        ]
    },
    {
        "id": "b6d78346c0af883b",
        "type": "pushover",
        "z": "3f4bfd26.20bba2",
        "name": "",
        "device": "",
        "title": "",
        "priority": 0,
        "sound": "",
        "url": "",
        "url_title": "",
        "html": false,
        "x": 2900,
        "y": 4720,
        "wires": []
    },
    {
        "id": "bb1a4a4037a412ba",
        "type": "e-mail",
        "z": "3f4bfd26.20bba2",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "",
        "x": 2890,
        "y": 4760,
        "wires": []
    },
    {
        "id": "a97d983e3b7cf15a",
        "type": "debug",
        "z": "3f4bfd26.20bba2",
        "name": "Occupancy true",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2310,
        "y": 4600,
        "wires": []
    },
    {
        "id": "a085f88b61b20d9e",
        "type": "debug",
        "z": "3f4bfd26.20bba2",
        "name": "Occupancy false",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2310,
        "y": 4640,
        "wires": []
    },
    {
        "id": "f600d819579f9a6d",
        "type": "debug",
        "z": "3f4bfd26.20bba2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 2330,
        "y": 4760,
        "wires": []
    },
    {
        "id": "e314300a.e8a55",
        "type": "mqtt-broker",
        "name": "Server-Mqtt",
        "broker": "servy.fritz.box",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "4229bceb.57ece4",
        "type": "ui_group",
        "name": "Zigbee",
        "tab": "b128bba3.f99e38",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "139243fe.5b95ac",
        "type": "pushbullet-config",
        "name": "FabsPushbullet"
    },
    {
        "id": "b128bba3.f99e38",
        "type": "ui_tab",
        "name": "Einstellungen",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]