Display last Linux logins.txt
[{"id":"7127c2cc.2b40ac","type":"exec","z":"2dcf0cc0.aeb894","command":"last --time-format full | grep -v 1970","addpay":false,"append":"","useSpawn":"false","timer":"5","oldrc":false,"name":"last","x":350,"y":3900,"wires":[["1bf1c9f6.16a186"],[],[]]},{"id":"1965d7f5.5ae058","type":"inject","z":"2dcf0cc0.aeb894","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":3900,"wires":[["7127c2cc.2b40ac"]]},{"id":"ca28f260.866e1","type":"comment","z":"2dcf0cc0.aeb894","name":"Display last logins","info":"","x":170,"y":3840,"wires":[]},{"id":"1bf1c9f6.16a186","type":"split","z":"2dcf0cc0.aeb894","name":"","splt":"\\n","spltType":"str","arraySplt":"100","arraySpltType":"len","stream":false,"addname":"","x":540,"y":3920,"wires":[["a0d3659e.8eca88"]]},{"id":"a0d3659e.8eca88","type":"join","z":"2dcf0cc0.aeb894","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"keys","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":710,"y":3920,"wires":[["64f7f2f3.8ca00c"]]},{"id":"a94ceecb.67c72","type":"ui_table","z":"2dcf0cc0.aeb894","group":"3f8ee2bc.faface","name":"Last linux logins table","order":5,"width":"35","height":"12","columns":[{"field":"key","title":"key","width":"","align":"left","formatter":"rownum","formatterParams":{"target":"_blank"}},{"field":"usrname","title":"line","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"ffg","title":"ffg","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"login_address","title":"login_address","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"login_weekday","title":"login_weekday","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"login_month","title":"login_month","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"login_date","title":"login_date","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"login_time","title":"login_time","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"login_year","title":"login_year","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"logout_weekday","title":"logout_weekday","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"logout_month","title":"logout_month","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"logout_date","title":"logout_date","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"logout_time","title":"logout_time","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"logout_year","title":"logout_year","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1080,"y":3920,"wires":[]},{"id":"64f7f2f3.8ca00c","type":"function","z":"2dcf0cc0.aeb894","name":"","func":"\n\n// pi       pts/0        192.168.3.26     Sun Feb  9 17:57:59 2020   still logged in\n\nvar entries = [];\n\nfor (var i = 0; i<msg.payload.length; i++) \n{\n    var actual_line = msg.payload[i].replace(/\\s\\s+/g, ' '); //convert multiple spaces to one\n\n    let values=actual_line.split(\" \");\n    \n    if (values[8]!=\"-\")\n    {\n        entries.push({\n        key:   (i+1),\n        usrname:  values[0],\n        ffg:  values[1],\n        login_address:  values[2],\n        login_weekday:  values[3],\n        login_month:  values[4],\n        login_date:  values[5],\n        login_time:  values[6],\n        login_year:  values[7],\n        logout_weekday:  \"still logged in\"\n        });\n    } else\n    {\n        entries.push({\n        key:   (i+1),\n        usrname:  values[0],\n        ffg:  values[1],\n        login_address:  values[2],\n        login_weekday:  values[3],\n        login_month:  values[4],\n        login_date:  values[5],\n        login_time:  values[6],\n        login_year:  values[7],\n        logout_weekday:  values[9],\n        logout_month:  values[10],\n        logout_date:  values[11],\n        logout_time:  values[12],\n        logout_year:  values[13],\n        });\n    }\n    \n}\n\nvar msgNew= {payload: entries};\nreturn msgNew;","outputs":1,"noerr":0,"x":870,"y":3920,"wires":[["a94ceecb.67c72"]]},{"id":"3f8ee2bc.faface","type":"ui_group","z":"","name":"Status","tab":"b881d91c.f73d98","order":1,"disp":true,"width":"35","collapse":false},{"id":"b881d91c.f73d98","type":"ui_tab","z":"","name":"Status","icon":"dashboard","order":4,"disabled":false,"hidden":false}]