evaluate_MPR121.txt
[{"id":"1977453a.63414b","type":"debug","z":"e00b5ac2.677f08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":530,"y":620,"wires":[]},{"id":"ffd63859.09d578","type":"debug","z":"e00b5ac2.677f08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":700,"wires":[]},{"id":"4c648356.3eb62c","type":"debug","z":"e00b5ac2.677f08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":780,"wires":[]},{"id":"79801b94.ec7284","type":"debug","z":"e00b5ac2.677f08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":860,"wires":[]},{"id":"27bbfe25.973c12","type":"debug","z":"e00b5ac2.677f08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":940,"wires":[]},{"id":"d9f3990f.b6b3b8","type":"debug","z":"e00b5ac2.677f08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":1020,"wires":[]},{"id":"88d24aed.abd358","type":"debug","z":"e00b5ac2.677f08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":1100,"wires":[]},{"id":"e5f62769.c9c248","type":"debug","z":"e00b5ac2.677f08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":1180,"wires":[]},{"id":"3ef1ade.9294c52","type":"debug","z":"e00b5ac2.677f08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":1260,"wires":[]},{"id":"fe895e31.2197b","type":"debug","z":"e00b5ac2.677f08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":1340,"wires":[]},{"id":"92c458df.b20118","type":"debug","z":"e00b5ac2.677f08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":1420,"wires":[]},{"id":"52b72d3.c758fd4","type":"debug","z":"e00b5ac2.677f08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":1500,"wires":[]},{"id":"a1cf531e.236e3","type":"function","z":"e00b5ac2.677f08","name":"set touch threshold","func":"flow.set(\"touchThreshold[\"+0+\"]\", msg.payload);","outputs":1,"noerr":0,"x":2030,"y":760,"wires":[[]]},{"id":"a9a97526.9827a8","type":"function","z":"e00b5ac2.677f08","name":"set touch threshold","func":"flow.set(\"touchThreshold[\"+1+\"]\", msg.payload);","outputs":1,"noerr":0,"x":2030,"y":800,"wires":[[]]},{"id":"3ef4b26d.e62bde","type":"function","z":"e00b5ac2.677f08","name":"set touch threshold","func":"flow.set(\"touchThreshold[\"+2+\"]\", msg.payload);","outputs":1,"noerr":0,"x":2030,"y":840,"wires":[[]]},{"id":"e9cdd8fd.36da48","type":"function","z":"e00b5ac2.677f08","name":"set touch threshold","func":"flow.set(\"touchThreshold[\"+3+\"]\", msg.payload);","outputs":1,"noerr":0,"x":2030,"y":880,"wires":[[]]},{"id":"312e73cc.fdb77c","type":"function","z":"e00b5ac2.677f08","name":"set touch threshold","func":"flow.set(\"touchThreshold[\"+4+\"]\", msg.payload);","outputs":1,"noerr":0,"x":2030,"y":920,"wires":[[]]},{"id":"a04f3cf1.b9a83","type":"function","z":"e00b5ac2.677f08","name":"set touch threshold","func":"flow.set(\"touchThreshold[\"+5+\"]\", msg.payload);","outputs":1,"noerr":0,"x":2030,"y":960,"wires":[[]]},{"id":"93f54005.949a","type":"function","z":"e00b5ac2.677f08","name":"set touch threshold","func":"flow.set(\"touchThreshold[\"+6+\"]\", msg.payload);","outputs":1,"noerr":0,"x":2030,"y":1000,"wires":[[]]},{"id":"c7a7280.73b46d8","type":"function","z":"e00b5ac2.677f08","name":"set touch threshold","func":"flow.set(\"touchThreshold[\"+7+\"]\", msg.payload);","outputs":1,"noerr":0,"x":2030,"y":1040,"wires":[[]]},{"id":"cf17cca1.624a6","type":"function","z":"e00b5ac2.677f08","name":"set touch threshold","func":"flow.set(\"touchThreshold[\"+8+\"]\", msg.payload);","outputs":1,"noerr":0,"x":2030,"y":1080,"wires":[[]]},{"id":"e1529644.9d3f98","type":"function","z":"e00b5ac2.677f08","name":"set touch threshold","func":"flow.set(\"touchThreshold[\"+9+\"]\", msg.payload);","outputs":1,"noerr":0,"x":2030,"y":1120,"wires":[[]]},{"id":"420718d9.42a328","type":"function","z":"e00b5ac2.677f08","name":"set touch threshold","func":"flow.set(\"touchThreshold[\"+10+\"]\", msg.payload);","outputs":1,"noerr":0,"x":2030,"y":1160,"wires":[[]]},{"id":"737469a0.cff898","type":"function","z":"e00b5ac2.677f08","name":"set touch threshold","func":"flow.set(\"touchThreshold[\"+11+\"]\", msg.payload);","outputs":1,"noerr":0,"x":2030,"y":1200,"wires":[[]]},{"id":"20913024.a422c","type":"inject","z":"e00b5ac2.677f08","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"60","payloadType":"num","x":1550,"y":760,"wires":[["69d091fd.160f7","a1cf531e.236e3"]]},{"id":"f27fe743.42ae88","type":"inject","z":"e00b5ac2.677f08","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"60","payloadType":"num","x":1550,"y":800,"wires":[["eed02704.691468","a9a97526.9827a8"]]},{"id":"b74946cb.98a878","type":"inject","z":"e00b5ac2.677f08","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"60","payloadType":"num","x":1550,"y":840,"wires":[["f58a311.a153fd","3ef4b26d.e62bde"]]},{"id":"86fccb88.0d94a8","type":"inject","z":"e00b5ac2.677f08","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"60","payloadType":"num","x":1550,"y":880,"wires":[["df51707d.d3b7e","e9cdd8fd.36da48"]]},{"id":"8b4b1176.71be7","type":"inject","z":"e00b5ac2.677f08","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":1550,"y":920,"wires":[["c74a502e.c08c9","312e73cc.fdb77c"]]},{"id":"487eb08c.4a5a5","type":"inject","z":"e00b5ac2.677f08","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":1550,"y":960,"wires":[["2c7e1269.9dfdee","a04f3cf1.b9a83"]]},{"id":"3862382.6441bc8","type":"inject","z":"e00b5ac2.677f08","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":1550,"y":1000,"wires":[["74bf153f.a186bc","93f54005.949a"]]},{"id":"7aac8063.2dc0a","type":"inject","z":"e00b5ac2.677f08","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":1550,"y":1040,"wires":[["a53c9ffc.562d","c7a7280.73b46d8"]]},{"id":"7ffa400e.21c48","type":"inject","z":"e00b5ac2.677f08","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":1550,"y":1080,"wires":[["ae972cfe.7b067","cf17cca1.624a6"]]},{"id":"e23495ce.e27988","type":"inject","z":"e00b5ac2.677f08","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":1550,"y":1120,"wires":[["cde4978c.d05e48","e1529644.9d3f98"]]},{"id":"e3ab46fc.e81078","type":"inject","z":"e00b5ac2.677f08","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":1550,"y":1160,"wires":[["b46b09ae.7c9b98","420718d9.42a328"]]},{"id":"57cfc0ad.48571","type":"inject","z":"e00b5ac2.677f08","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":1550,"y":1200,"wires":[["9b46d3c5.f79b4","737469a0.cff898"]]},{"id":"3f7e3716.f65888","type":"function","z":"e00b5ac2.677f08","name":"check touch threshold","func":"var msgTemp ={ payload: (msg.payload.pin<=flow.get(\"touchThreshold[\"+0+\"]\"))};\nreturn msgTemp;\n\n\n","outputs":1,"noerr":0,"x":580,"y":580,"wires":[["5e41c66e.81c938","71b137ab.e8e048"]]},{"id":"5e41c66e.81c938","type":"trigger","z":"e00b5ac2.677f08","name":"touched","op1":"touched","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"false","bytopic":"all","outputs":1,"x":800,"y":580,"wires":[["fa5deb36.c9f798"]]},{"id":"fa5deb36.c9f798","type":"debug","z":"e00b5ac2.677f08","name":"electrode 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":580,"wires":[]},{"id":"71b137ab.e8e048","type":"trigger","z":"e00b5ac2.677f08","name":"released","op1":"released","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"true","bytopic":"all","outputs":1,"x":800,"y":620,"wires":[["fa5deb36.c9f798","bf9bc069.2f167"]]},{"id":"bf9bc069.2f167","type":"link out","z":"e00b5ac2.677f08","name":"electrode1","links":[],"x":935,"y":620,"wires":[]},{"id":"78bf876d.b16f98","type":"function","z":"e00b5ac2.677f08","name":"check touch threshold","func":"var msgTemp ={ payload: (msg.payload.pin<=flow.get(\"touchThreshold[\"+1+\"]\"))};\nreturn msgTemp;\n\n\n","outputs":1,"noerr":0,"x":580,"y":660,"wires":[["8f9d3891.e29af8","5a3632b3.5d918c"]]},{"id":"8f9d3891.e29af8","type":"trigger","z":"e00b5ac2.677f08","name":"touched","op1":"touched","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"false","bytopic":"all","outputs":1,"x":800,"y":660,"wires":[["44a97b67.d2d4d4"]]},{"id":"44a97b67.d2d4d4","type":"debug","z":"e00b5ac2.677f08","name":"electrode 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":660,"wires":[]},{"id":"5a3632b3.5d918c","type":"trigger","z":"e00b5ac2.677f08","name":"released","op1":"released","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"true","bytopic":"all","outputs":1,"x":800,"y":700,"wires":[["44a97b67.d2d4d4","8e765614.3f1588"]]},{"id":"8e765614.3f1588","type":"link out","z":"e00b5ac2.677f08","name":"electrode2","links":[],"x":935,"y":700,"wires":[]},{"id":"b167caca.9e2108","type":"function","z":"e00b5ac2.677f08","name":"check touch threshold","func":"var msgTemp ={ payload: (msg.payload.pin<=flow.get(\"touchThreshold[\"+2+\"]\"))};\nreturn msgTemp;\n\n\n","outputs":1,"noerr":0,"x":580,"y":740,"wires":[["42fa24fc.9454dc","7fc2c2f9.52167c"]]},{"id":"42fa24fc.9454dc","type":"trigger","z":"e00b5ac2.677f08","name":"touched","op1":"touched","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"false","bytopic":"all","outputs":1,"x":800,"y":740,"wires":[["41500b66.59e904"]]},{"id":"41500b66.59e904","type":"debug","z":"e00b5ac2.677f08","name":"electrode 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":740,"wires":[]},{"id":"7fc2c2f9.52167c","type":"trigger","z":"e00b5ac2.677f08","name":"released","op1":"released","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"true","bytopic":"all","outputs":1,"x":800,"y":780,"wires":[["41500b66.59e904","1a05cc4a.142f34"]]},{"id":"1a05cc4a.142f34","type":"link out","z":"e00b5ac2.677f08","name":"electrode3","links":["f7f53ed6.79183"],"x":935,"y":780,"wires":[]},{"id":"7a3e6c5.c211394","type":"function","z":"e00b5ac2.677f08","name":"check touch threshold","func":"var msgTemp ={ payload: (msg.payload.pin<=flow.get(\"touchThreshold[\"+3+\"]\"))};\nreturn msgTemp;\n\n\n","outputs":1,"noerr":0,"x":580,"y":820,"wires":[["b4a5cf52.53304","edc407ac.b282c8"]]},{"id":"b4a5cf52.53304","type":"trigger","z":"e00b5ac2.677f08","name":"touched","op1":"touched","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"false","bytopic":"all","outputs":1,"x":800,"y":820,"wires":[["8f31f678.dfda88"]]},{"id":"8f31f678.dfda88","type":"debug","z":"e00b5ac2.677f08","name":"electrode 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":820,"wires":[]},{"id":"edc407ac.b282c8","type":"trigger","z":"e00b5ac2.677f08","name":"released","op1":"released","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"true","bytopic":"all","outputs":1,"x":800,"y":860,"wires":[["8f31f678.dfda88","6e838019.7dfd9"]]},{"id":"6e838019.7dfd9","type":"link out","z":"e00b5ac2.677f08","name":"electrode4","links":["b59bfccc.d9b66"],"x":935,"y":860,"wires":[]},{"id":"f47896ee.8a2928","type":"function","z":"e00b5ac2.677f08","name":"check touch threshold","func":"var msgTemp ={ payload: (msg.payload.pin<=flow.get(\"touchThreshold[\"+4+\"]\"))};\nreturn msgTemp;\n\n\n","outputs":1,"noerr":0,"x":580,"y":900,"wires":[["dcd6348c.7e0838","a541497b.5f3ba8"]]},{"id":"dcd6348c.7e0838","type":"trigger","z":"e00b5ac2.677f08","name":"touched","op1":"touched","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"false","bytopic":"all","outputs":1,"x":800,"y":900,"wires":[["c4154fd9.b3de6","13b4d0e6.ae18af"]]},{"id":"c4154fd9.b3de6","type":"debug","z":"e00b5ac2.677f08","name":"electrode 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":900,"wires":[]},{"id":"a541497b.5f3ba8","type":"trigger","z":"e00b5ac2.677f08","name":"released","op1":"released","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"true","bytopic":"all","outputs":1,"x":800,"y":940,"wires":[["c4154fd9.b3de6","13b4d0e6.ae18af"]]},{"id":"13b4d0e6.ae18af","type":"link out","z":"e00b5ac2.677f08","name":"electrode5","links":[],"x":935,"y":940,"wires":[]},{"id":"8cc4f874.d5b028","type":"function","z":"e00b5ac2.677f08","name":"check touch threshold","func":"var msgTemp ={ payload: (msg.payload.pin<=flow.get(\"touchThreshold[\"+5+\"]\"))};\nreturn msgTemp;\n\n\n","outputs":1,"noerr":0,"x":580,"y":980,"wires":[["e16fe6fc.5d93f8","16913b89.0df3c4"]]},{"id":"e16fe6fc.5d93f8","type":"trigger","z":"e00b5ac2.677f08","name":"touched","op1":"touched","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"false","bytopic":"all","outputs":1,"x":800,"y":980,"wires":[["33ecf6bd.5bd0ba","887e875a.7e3318"]]},{"id":"33ecf6bd.5bd0ba","type":"debug","z":"e00b5ac2.677f08","name":"electrode 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":980,"wires":[]},{"id":"16913b89.0df3c4","type":"trigger","z":"e00b5ac2.677f08","name":"released","op1":"released","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"true","bytopic":"all","outputs":1,"x":800,"y":1020,"wires":[["33ecf6bd.5bd0ba","887e875a.7e3318"]]},{"id":"887e875a.7e3318","type":"link out","z":"e00b5ac2.677f08","name":"electrode6","links":[],"x":935,"y":1020,"wires":[]},{"id":"f83d98cd.ac98f8","type":"function","z":"e00b5ac2.677f08","name":"check touch threshold","func":"var msgTemp ={ payload: (msg.payload.pin<=flow.get(\"touchThreshold[\"+6+\"]\"))};\nreturn msgTemp;\n\n\n","outputs":1,"noerr":0,"x":580,"y":1060,"wires":[["f09dc501.cd2748","626d9df4.683e34"]]},{"id":"f09dc501.cd2748","type":"trigger","z":"e00b5ac2.677f08","name":"touched","op1":"touched","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"false","bytopic":"all","outputs":1,"x":800,"y":1060,"wires":[["6b1540c7.ff1d8","52eb42b7.d44afc"]]},{"id":"6b1540c7.ff1d8","type":"debug","z":"e00b5ac2.677f08","name":"electrode 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":1060,"wires":[]},{"id":"626d9df4.683e34","type":"trigger","z":"e00b5ac2.677f08","name":"released","op1":"released","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"true","bytopic":"all","outputs":1,"x":800,"y":1100,"wires":[["6b1540c7.ff1d8","52eb42b7.d44afc"]]},{"id":"52eb42b7.d44afc","type":"link out","z":"e00b5ac2.677f08","name":"electrode7","links":[],"x":935,"y":1100,"wires":[]},{"id":"92906544.9ab438","type":"function","z":"e00b5ac2.677f08","name":"check touch threshold","func":"var msgTemp ={ payload: (msg.payload.pin<=flow.get(\"touchThreshold[\"+7+\"]\"))};\nreturn msgTemp;\n\n\n","outputs":1,"noerr":0,"x":580,"y":1140,"wires":[["98b848b1.ed6668","b6f3d172.0753c"]]},{"id":"98b848b1.ed6668","type":"trigger","z":"e00b5ac2.677f08","name":"touched","op1":"touched","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"false","bytopic":"all","outputs":1,"x":800,"y":1140,"wires":[["9694bd39.e2973","de92a5fe.0d20a8"]]},{"id":"9694bd39.e2973","type":"debug","z":"e00b5ac2.677f08","name":"electrode 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":1140,"wires":[]},{"id":"b6f3d172.0753c","type":"trigger","z":"e00b5ac2.677f08","name":"released","op1":"released","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"true","bytopic":"all","outputs":1,"x":800,"y":1180,"wires":[["9694bd39.e2973","de92a5fe.0d20a8"]]},{"id":"de92a5fe.0d20a8","type":"link out","z":"e00b5ac2.677f08","name":"electrode8","links":[],"x":935,"y":1180,"wires":[]},{"id":"28edcc81.f02a44","type":"function","z":"e00b5ac2.677f08","name":"check touch threshold","func":"var msgTemp ={ payload: (msg.payload.pin<=flow.get(\"touchThreshold[\"+8+\"]\"))};\nreturn msgTemp;\n\n\n","outputs":1,"noerr":0,"x":580,"y":1220,"wires":[["e2626c28.589a5","888154ef.480fd8"]]},{"id":"e2626c28.589a5","type":"trigger","z":"e00b5ac2.677f08","name":"touched","op1":"touched","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"false","bytopic":"all","outputs":1,"x":800,"y":1220,"wires":[["1d8b0fae.ec09e","a7840065.749f"]]},{"id":"1d8b0fae.ec09e","type":"debug","z":"e00b5ac2.677f08","name":"electrode 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":1220,"wires":[]},{"id":"888154ef.480fd8","type":"trigger","z":"e00b5ac2.677f08","name":"released","op1":"released","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"true","bytopic":"all","outputs":1,"x":800,"y":1260,"wires":[["1d8b0fae.ec09e","a7840065.749f"]]},{"id":"a7840065.749f","type":"link out","z":"e00b5ac2.677f08","name":"electrode9","links":[],"x":935,"y":1260,"wires":[]},{"id":"24679217.a13ace","type":"function","z":"e00b5ac2.677f08","name":"check touch threshold","func":"var msgTemp ={ payload: (msg.payload.pin<=flow.get(\"touchThreshold[\"+9+\"]\"))};\nreturn msgTemp;\n\n\n","outputs":1,"noerr":0,"x":580,"y":1300,"wires":[["587d43b7.e4a32c","2605a467.c7048c"]]},{"id":"587d43b7.e4a32c","type":"trigger","z":"e00b5ac2.677f08","name":"touched","op1":"touched","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"false","bytopic":"all","outputs":1,"x":800,"y":1300,"wires":[["4d0e6862.dc0148","9ec56deb.fe635"]]},{"id":"4d0e6862.dc0148","type":"debug","z":"e00b5ac2.677f08","name":"electrode 10","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":1300,"wires":[]},{"id":"2605a467.c7048c","type":"trigger","z":"e00b5ac2.677f08","name":"released","op1":"released","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"true","bytopic":"all","outputs":1,"x":800,"y":1340,"wires":[["4d0e6862.dc0148","9ec56deb.fe635"]]},{"id":"9ec56deb.fe635","type":"link out","z":"e00b5ac2.677f08","name":"electrode10","links":[],"x":935,"y":1340,"wires":[]},{"id":"6f485baf.a25464","type":"function","z":"e00b5ac2.677f08","name":"check touch threshold","func":"var msgTemp ={ payload: (msg.payload.pin<=flow.get(\"touchThreshold[\"+10+\"]\"))};\nreturn msgTemp;\n\n\n","outputs":1,"noerr":0,"x":580,"y":1380,"wires":[["3be23995.a30bd6","4735386e.f57a48"]]},{"id":"3be23995.a30bd6","type":"trigger","z":"e00b5ac2.677f08","name":"touched","op1":"touched","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"false","bytopic":"all","outputs":1,"x":800,"y":1380,"wires":[["4bc96e3f.7a834","b8bc0968.c7f698"]]},{"id":"4bc96e3f.7a834","type":"debug","z":"e00b5ac2.677f08","name":"electrode 11","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":1380,"wires":[]},{"id":"4735386e.f57a48","type":"trigger","z":"e00b5ac2.677f08","name":"released","op1":"released","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"true","bytopic":"all","outputs":1,"x":800,"y":1420,"wires":[["4bc96e3f.7a834","b8bc0968.c7f698"]]},{"id":"b8bc0968.c7f698","type":"link out","z":"e00b5ac2.677f08","name":"electrode11","links":[],"x":935,"y":1420,"wires":[]},{"id":"d3e93a58.ed0028","type":"function","z":"e00b5ac2.677f08","name":"check touch threshold","func":"var msgTemp ={ payload: (msg.payload.pin<=flow.get(\"touchThreshold[\"+11+\"]\"))};\nreturn msgTemp;\n\n\n","outputs":1,"noerr":0,"x":580,"y":1460,"wires":[["af582788.6aea18","54321729.4f6338"]]},{"id":"af582788.6aea18","type":"trigger","z":"e00b5ac2.677f08","name":"touched","op1":"touched","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"false","bytopic":"all","outputs":1,"x":800,"y":1460,"wires":[["6f3b9a27.a63764","5c7d46cf.8d2f58"]]},{"id":"6f3b9a27.a63764","type":"debug","z":"e00b5ac2.677f08","name":"electrode 12","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":1460,"wires":[]},{"id":"54321729.4f6338","type":"trigger","z":"e00b5ac2.677f08","name":"released","op1":"released","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"true","bytopic":"all","outputs":1,"x":800,"y":1500,"wires":[["6f3b9a27.a63764","5c7d46cf.8d2f58"]]},{"id":"5c7d46cf.8d2f58","type":"link out","z":"e00b5ac2.677f08","name":"electrode12","links":[],"x":935,"y":1500,"wires":[]},{"id":"b9b87f97.07f06","type":"change","z":"e00b5ac2.677f08","name":"mapping","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.pin","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":580,"wires":[["2ea5d44e.a65d5c"]]},{"id":"b69cc9b2.f2ae18","type":"change","z":"e00b5ac2.677f08","name":"mapping","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.pin","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":660,"wires":[["d6702483.0519c8"]]},{"id":"f1604f73.665af","type":"change","z":"e00b5ac2.677f08","name":"mapping","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.pin","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":740,"wires":[["fe577f3d.78ed2"]]},{"id":"7f64ba8d.b1c0b4","type":"change","z":"e00b5ac2.677f08","name":"mapping","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.pin","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":820,"wires":[["c89c7b8f.8dfc48"]]},{"id":"e0807947.429238","type":"change","z":"e00b5ac2.677f08","name":"mapping","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.pin","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":900,"wires":[["3c756b17.df6e74"]]},{"id":"14b9676f.52c819","type":"change","z":"e00b5ac2.677f08","name":"mapping","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.pin","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":980,"wires":[["430a8f40.bcdbc"]]},{"id":"20b43148.a7082e","type":"change","z":"e00b5ac2.677f08","name":"mapping","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.pin","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":1060,"wires":[["363b93d6.2062fc"]]},{"id":"b161f6de.536088","type":"change","z":"e00b5ac2.677f08","name":"mapping","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.pin","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":1140,"wires":[["fed7c9d0.b1e848"]]},{"id":"d56e0547.b0b5c8","type":"change","z":"e00b5ac2.677f08","name":"mapping","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.pin","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":1220,"wires":[["c7ccd911.2db6f8"]]},{"id":"7bc62034.9673c","type":"change","z":"e00b5ac2.677f08","name":"mapping","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.pin","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":1300,"wires":[["b4a1094c.5317e8"]]},{"id":"eb7c1db6.d839","type":"change","z":"e00b5ac2.677f08","name":"mapping","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.pin","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":1380,"wires":[["4bdbff0a.2d87b"]]},{"id":"6da0e1c8.ce0d9","type":"change","z":"e00b5ac2.677f08","name":"mapping","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.pin","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":1460,"wires":[["62c16f85.6af93"]]},{"id":"69d091fd.160f7","type":"ui_numeric","z":"e00b5ac2.677f08","name":"","label":"Touch Threshold E1","tooltip":"","group":"d9a11c48.d4ec","order":7,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"10","max":"255","step":1,"x":1760,"y":760,"wires":[["a1cf531e.236e3"]]},{"id":"eed02704.691468","type":"ui_numeric","z":"e00b5ac2.677f08","name":"","label":"Touch Threshold E2","tooltip":"","group":"d9a11c48.d4ec","order":7,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"10","max":"255","step":1,"x":1760,"y":800,"wires":[["a9a97526.9827a8"]]},{"id":"f58a311.a153fd","type":"ui_numeric","z":"e00b5ac2.677f08","name":"","label":"Touch Threshold E3","tooltip":"","group":"d9a11c48.d4ec","order":7,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"10","max":"255","step":1,"x":1760,"y":840,"wires":[["3ef4b26d.e62bde"]]},{"id":"df51707d.d3b7e","type":"ui_numeric","z":"e00b5ac2.677f08","name":"","label":"Touch Threshold E4","tooltip":"","group":"d9a11c48.d4ec","order":7,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"10","max":"255","step":1,"x":1760,"y":880,"wires":[["e9cdd8fd.36da48"]]},{"id":"c74a502e.c08c9","type":"ui_numeric","z":"e00b5ac2.677f08","name":"","label":"Touch Threshold E5","tooltip":"","group":"d9a11c48.d4ec","order":7,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"10","max":"255","step":1,"x":1760,"y":920,"wires":[["312e73cc.fdb77c"]]},{"id":"2c7e1269.9dfdee","type":"ui_numeric","z":"e00b5ac2.677f08","name":"","label":"Touch Threshold E6","tooltip":"","group":"d9a11c48.d4ec","order":7,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"10","max":"255","step":1,"x":1760,"y":960,"wires":[["a04f3cf1.b9a83"]]},{"id":"74bf153f.a186bc","type":"ui_numeric","z":"e00b5ac2.677f08","name":"","label":"Touch Threshold E7","tooltip":"","group":"d9a11c48.d4ec","order":7,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"10","max":"255","step":1,"x":1760,"y":1000,"wires":[["93f54005.949a"]]},{"id":"a53c9ffc.562d","type":"ui_numeric","z":"e00b5ac2.677f08","name":"","label":"Touch Threshold E8","tooltip":"","group":"d9a11c48.d4ec","order":7,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"10","max":"255","step":1,"x":1760,"y":1040,"wires":[["c7a7280.73b46d8"]]},{"id":"ae972cfe.7b067","type":"ui_numeric","z":"e00b5ac2.677f08","name":"","label":"Touch Threshold E9","tooltip":"","group":"d9a11c48.d4ec","order":7,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"10","max":"255","step":1,"x":1760,"y":1080,"wires":[["cf17cca1.624a6"]]},{"id":"cde4978c.d05e48","type":"ui_numeric","z":"e00b5ac2.677f08","name":"","label":"Touch Threshold E10","tooltip":"","group":"d9a11c48.d4ec","order":7,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"10","max":"255","step":1,"x":1760,"y":1120,"wires":[["e1529644.9d3f98"]]},{"id":"b46b09ae.7c9b98","type":"ui_numeric","z":"e00b5ac2.677f08","name":"","label":"Touch Threshold E11","tooltip":"","group":"d9a11c48.d4ec","order":7,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"10","max":"255","step":1,"x":1760,"y":1160,"wires":[["420718d9.42a328"]]},{"id":"9b46d3c5.f79b4","type":"ui_numeric","z":"e00b5ac2.677f08","name":"","label":"Touch Threshold E12","tooltip":"","group":"d9a11c48.d4ec","order":7,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"10","max":"255","step":1,"x":1760,"y":1200,"wires":[["737469a0.cff898"]]},{"id":"2ea5d44e.a65d5c","type":"ui_gauge","z":"e00b5ac2.677f08","name":"","group":"d9a11c48.d4ec","order":12,"width":0,"height":0,"gtype":"gage","title":"Electrode1","label":"","format":"{{value}}","min":0,"max":"255","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1330,"y":580,"wires":[]},{"id":"d6702483.0519c8","type":"ui_gauge","z":"e00b5ac2.677f08","name":"","group":"d9a11c48.d4ec","order":12,"width":0,"height":0,"gtype":"gage","title":"Electrode2","label":"","format":"{{value}}","min":0,"max":"255","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1330,"y":660,"wires":[]},{"id":"fe577f3d.78ed2","type":"ui_gauge","z":"e00b5ac2.677f08","name":"","group":"d9a11c48.d4ec","order":12,"width":0,"height":0,"gtype":"gage","title":"Electrode3","label":"","format":"{{value}}","min":0,"max":"255","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1330,"y":740,"wires":[]},{"id":"c89c7b8f.8dfc48","type":"ui_gauge","z":"e00b5ac2.677f08","name":"","group":"d9a11c48.d4ec","order":12,"width":0,"height":0,"gtype":"gage","title":"Electrode4","label":"","format":"{{value}}","min":0,"max":"255","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1330,"y":820,"wires":[]},{"id":"3c756b17.df6e74","type":"ui_gauge","z":"e00b5ac2.677f08","name":"","group":"d9a11c48.d4ec","order":12,"width":0,"height":0,"gtype":"gage","title":"Electrode5","label":"","format":"{{value}}","min":0,"max":"255","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1330,"y":900,"wires":[]},{"id":"430a8f40.bcdbc","type":"ui_gauge","z":"e00b5ac2.677f08","name":"","group":"d9a11c48.d4ec","order":12,"width":0,"height":0,"gtype":"gage","title":"Electrode6","label":"","format":"{{value}}","min":0,"max":"255","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1330,"y":980,"wires":[]},{"id":"363b93d6.2062fc","type":"ui_gauge","z":"e00b5ac2.677f08","name":"","group":"d9a11c48.d4ec","order":12,"width":0,"height":0,"gtype":"gage","title":"Electrode7","label":"","format":"{{value}}","min":0,"max":"255","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1330,"y":1060,"wires":[]},{"id":"fed7c9d0.b1e848","type":"ui_gauge","z":"e00b5ac2.677f08","name":"","group":"d9a11c48.d4ec","order":12,"width":0,"height":0,"gtype":"gage","title":"Electrode8","label":"","format":"{{value}}","min":0,"max":"255","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1330,"y":1140,"wires":[]},{"id":"c7ccd911.2db6f8","type":"ui_gauge","z":"e00b5ac2.677f08","name":"","group":"d9a11c48.d4ec","order":12,"width":0,"height":0,"gtype":"gage","title":"Electrode9","label":"","format":"{{value}}","min":0,"max":"255","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1330,"y":1220,"wires":[]},{"id":"b4a1094c.5317e8","type":"ui_gauge","z":"e00b5ac2.677f08","name":"","group":"d9a11c48.d4ec","order":12,"width":0,"height":0,"gtype":"gage","title":"Electrode10","label":"","format":"{{value}}","min":0,"max":"255","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1330,"y":1300,"wires":[]},{"id":"4bdbff0a.2d87b","type":"ui_gauge","z":"e00b5ac2.677f08","name":"","group":"d9a11c48.d4ec","order":12,"width":0,"height":0,"gtype":"gage","title":"Electrode11","label":"","format":"{{value}}","min":0,"max":"255","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1330,"y":1380,"wires":[]},{"id":"62c16f85.6af93","type":"ui_gauge","z":"e00b5ac2.677f08","name":"","group":"d9a11c48.d4ec","order":12,"width":0,"height":0,"gtype":"gage","title":"Electrode12","label":"","format":"{{value}}","min":0,"max":"255","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1330,"y":1460,"wires":[]},{"id":"d518a309.61003","type":"mpr121-p","z":"e00b5ac2.677f08","name":"","address":90,"i2cbus":1,"polling":200,"x":120,"y":1040,"wires":[["1977453a.63414b","3f7e3716.f65888","b9b87f97.07f06"],["ffd63859.09d578","78bf876d.b16f98","b69cc9b2.f2ae18"],["4c648356.3eb62c","b167caca.9e2108","f1604f73.665af"],["79801b94.ec7284","7a3e6c5.c211394","7f64ba8d.b1c0b4"],["27bbfe25.973c12","f47896ee.8a2928","e0807947.429238"],["d9f3990f.b6b3b8","8cc4f874.d5b028","14b9676f.52c819"],["88d24aed.abd358","f83d98cd.ac98f8","20b43148.a7082e"],["e5f62769.c9c248","92906544.9ab438","b161f6de.536088"],["3ef1ade.9294c52","28edcc81.f02a44","d56e0547.b0b5c8"],["fe895e31.2197b","24679217.a13ace","7bc62034.9673c"],["92c458df.b20118","6f485baf.a25464","eb7c1db6.d839"],["52b72d3.c758fd4","d3e93a58.ed0028","6da0e1c8.ce0d9"]]},{"id":"d9a11c48.d4ec","type":"ui_group","z":"","name":"MPR121","tab":"157697a5.ce0fd8","order":3,"disp":true,"width":"6","collapse":false},{"id":"157697a5.ce0fd8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]