FritzBoxCalllist_improved.txt
[{"id":"ed6d5f68.1d46b","type":"inject","z":"78b1bede.9b035","name":"Get calllist","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":230,"y":3260,"wires":[["59ece26.395581c"]]},{"id":"fa6ce0df.270fe","type":"comment","z":"78b1bede.9b035","name":"Show Calllist","info":"","x":170,"y":3220,"wires":[]},{"id":"59ece26.395581c","type":"fritzbox-calllist","z":"78b1bede.9b035","device":"358f95ae.ef43ea","name":"","action":"","max":"10","maxdays":"","x":450,"y":3260,"wires":[["f17b4c1d.20bee"]]},{"id":"f17b4c1d.20bee","type":"function","z":"78b1bede.9b035","name":"collectData","func":"\nvar callListEntries = [];\nvar incAnswCallListEntries = [];\nvar missedCallListEntries = [];\nvar outgoingCallListEntries = [];\n\n for (var i = 0; (i incoming answ.\";\n \n incAnswCallListEntries.push({\n direction: inOrOut,\n date: msg.payload.Call[i].Date,\n name: msg.payload.Call[i].Name,\n number: msg.payload.Call[i].Caller\n });\n } else if(msg.payload.Call[i].Type==2)\n {\n //Eingehender Nicht-Angenommener Anruf\n inOrOut=\">> missed\";\n \n missedCallListEntries.push({\n direction: inOrOut,\n date: msg.payload.Call[i].Date,\n name: msg.payload.Call[i].Name,\n number: msg.payload.Call[i].Caller\n });\n } else if(msg.payload.Call[i].Type==3)\n {\n //Ausgehender Nicht-Angenommener Anruf\n inOrOut=\"<< outgoing\";\n \n outgoingCallListEntries.push({\n direction: inOrOut,\n date: msg.payload.Call[i].Date,\n name: msg.payload.Call[i].Name,\n number: msg.payload.Call[i].Caller\n });\n }\n \n callListEntries.push({\n direction: inOrOut,\n date: msg.payload.Call[i].Date,\n name: msg.payload.Call[i].Name,\n number: msg.payload.Call[i].Caller\n });\n }\n }\n\nvar msgNew= {payload: callListEntries};\nmsgNew.incAnsw=incAnswCallListEntries;\nmsgNew.missed=missedCallListEntries;\nmsgNew.outgoing=outgoingCallListEntries;\nreturn msgNew;","outputs":1,"noerr":0,"x":670,"y":3260,"wires":[["463c6b66.6ce9b4","56045f9e.35c8c","24fc57c.df44ea8","db8e1588.952a08","439a5c5b.cbd0d4"]]},{"id":"463c6b66.6ce9b4","type":"ui_table","z":"78b1bede.9b035","group":"abc07dab.63606","name":"FritzBox-Calllist-all","order":1,"width":"20","height":"10","columns":[{"field":"direction","title":"direction","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"date","title":"date","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"name","title":"name","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"number","title":"number","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":910,"y":3260,"wires":[]},{"id":"56045f9e.35c8c","type":"change","z":"78b1bede.9b035","name":"incAnsw","rules":[{"t":"set","p":"payload","pt":"msg","to":"incAnsw","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":3300,"wires":[["d6dca909.abdab8"]]},{"id":"24fc57c.df44ea8","type":"change","z":"78b1bede.9b035","name":"missed","rules":[{"t":"set","p":"payload","pt":"msg","to":"missed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":3340,"wires":[["4b92b7f0.f76f78"]]},{"id":"db8e1588.952a08","type":"change","z":"78b1bede.9b035","name":"outgoing","rules":[{"t":"set","p":"payload","pt":"msg","to":"outgoing","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":3380,"wires":[["13fb0f1e.56c391"]]},{"id":"d6dca909.abdab8","type":"ui_table","z":"78b1bede.9b035","group":"abc07dab.63606","name":"FritzBox-Calllist-incoming-answered","order":1,"width":"20","height":"10","columns":[{"field":"direction","title":"direction","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"date","title":"date","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"name","title":"name","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"number","title":"number","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1150,"y":3300,"wires":[]},{"id":"4b92b7f0.f76f78","type":"ui_table","z":"78b1bede.9b035","group":"abc07dab.63606","name":"FritzBox-Calllist-missed","order":1,"width":"20","height":"10","columns":[{"field":"direction","title":"direction","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"date","title":"date","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"name","title":"name","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"number","title":"number","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1110,"y":3340,"wires":[]},{"id":"13fb0f1e.56c391","type":"ui_table","z":"78b1bede.9b035","group":"abc07dab.63606","name":"FritzBox-Calllist-outgoing","order":1,"width":"20","height":"10","columns":[{"field":"direction","title":"direction","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"date","title":"date","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"name","title":"name","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"number","title":"number","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1110,"y":3380,"wires":[]},{"id":"439a5c5b.cbd0d4","type":"debug","z":"78b1bede.9b035","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":3220,"wires":[]},{"id":"358f95ae.ef43ea","type":"fritzbox-config","z":"","name":"fritzBox","host":"fritz.box","port":"49000","ssl":false},{"id":"abc07dab.63606","type":"ui_group","z":"","name":"Telefon","tab":"b881d91c.f73d98","disp":true,"width":"20","collapse":false},{"id":"b881d91c.f73d98","type":"ui_tab","z":"","name":"Status","icon":"dashboard","order":4,"disabled":false,"hidden":false}]