snippets/sma_devices/sma_inverter_data_retrieval.json
[
    {
        "id": "4c2cfba6ab1c6d72",
        "type": "sma-webconnect",
        "z": "f78373ea2eea5348",
        "ip_address": "192.168.33.109",
        "right": "usr",
        "use_tls": true,
        "device_selection": "sb_tripower",
        "credentials": {},
        "x": 460,
        "y": 3120,
        "wires": [
            [
                "151329f3197e4c1a",
                "30ca41d7d4e20ff6",
                "e1c718e83d82370c",
                "4c0715357d571158",
                "2474d2973dac5dea",
                "59489b58cf324609"
            ]
        ]
    },
    {
        "id": "151329f3197e4c1a",
        "type": "debug",
        "z": "f78373ea2eea5348",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 3080,
        "wires": []
    },
    {
        "id": "c767decc6c6273ae",
        "type": "inject",
        "z": "f78373ea2eea5348",
        "name": "retrieve data",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 460,
        "y": 3060,
        "wires": [
            [
                "4c2cfba6ab1c6d72"
            ]
        ]
    },
    {
        "id": "30ca41d7d4e20ff6",
        "type": "function",
        "z": "f78373ea2eea5348",
        "name": "solar_power",
        "func": "var power = {};\n//power.payload = Math.round( msg.payload.power / 10 ) / 100;\npower.payload = msg.payload.power;\nreturn power;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 3120,
        "wires": [
            [
                "362336eeb1a63e5c",
                "d720d6e73247e884",
                "9e9644773e819cf5",
                "edc5595ccf3fdfa3"
            ]
        ]
    },
    {
        "id": "e1c718e83d82370c",
        "type": "function",
        "z": "f78373ea2eea5348",
        "name": "grid_consumption_power",
        "func": "var power = {};\n//power.payload = Math.round( msg.payload.grid_consumption / 10 ) / 100;\nmsg.payload = msg.payload.grid_consumption;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 3160,
        "wires": [
            [
                "0ddeb9e844c2d7c7",
                "87bf05309b6893fb",
                "81a2734ed405bf4b"
            ]
        ]
    },
    {
        "id": "4c0715357d571158",
        "type": "function",
        "z": "f78373ea2eea5348",
        "name": "feed_to_grid_power",
        "func": "var power = {};\n//power.payload = Math.round( msg.payload.grid_feedin / 10 ) / 100;\npower.payload = msg.payload.grid_feedin;\nreturn power;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 3200,
        "wires": [
            [
                "9f032881ac8c3ae2",
                "55599b0f7804f55d",
                "10d639bf3a2ff36a"
            ]
        ]
    },
    {
        "id": "362336eeb1a63e5c",
        "type": "debug",
        "z": "f78373ea2eea5348",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 3120,
        "wires": []
    },
    {
        "id": "0ddeb9e844c2d7c7",
        "type": "debug",
        "z": "f78373ea2eea5348",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 3160,
        "wires": []
    },
    {
        "id": "9f032881ac8c3ae2",
        "type": "debug",
        "z": "f78373ea2eea5348",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 3200,
        "wires": []
    },
    {
        "id": "2474d2973dac5dea",
        "type": "function",
        "z": "f78373ea2eea5348",
        "name": "total_consumption",
        "func": "var power = {};\n//power.payload = Math.round( msg.payload.power / 10 ) / 100;\npower.payload = msg.payload.power + msg.payload.grid_consumption - msg.payload.grid_feedin;\nreturn power;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 3240,
        "wires": [
            [
                "5a3db75c6065961c",
                "7cf7ccaaa78a6c0b",
                "61fd68964b0320da"
            ]
        ]
    },
    {
        "id": "5a3db75c6065961c",
        "type": "debug",
        "z": "f78373ea2eea5348",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 3240,
        "wires": []
    },
    {
        "id": "59489b58cf324609",
        "type": "function",
        "z": "f78373ea2eea5348",
        "name": "energy direction_as_text",
        "func": "var power = {};\n//power.payload = Math.round( msg.payload.power / 10 ) / 100;\nvar directional_power = msg.payload.power - msg.payload.grid_consumption;\n\nif (msg.payload.grid_consumption > 0)\n{\n    power.payload = \"<font size = 4 color = \\\"#BF1414\\\">Home << \" + msg.payload.grid_consumption + \"W << Grid\"\n} else if (msg.payload.grid_feedin > 0)\n{\n    power.payload = \"<font size = 4 color = \\\"#00B500\\\">Home >> \" + msg.payload.grid_feedin + \"W >> Grid\"\n} else\n{\n    power.payload = \"<font size = 4 color = \\\"#00B500\\\">Home <<>> 0W <<>> Grid\"\n}\n\n\nreturn power;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 3280,
        "wires": [
            [
                "f2074bd9366e3eb8",
                "1c4a897a5ccd9ece",
                "fef4942c6e98fd2b"
            ]
        ]
    },
    {
        "id": "f2074bd9366e3eb8",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "c67890a8ed2b148f",
        "order": 6,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Energy flow direction",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 980,
        "y": 3280,
        "wires": []
    },
    {
        "id": "1c4a897a5ccd9ece",
        "type": "debug",
        "z": "f78373ea2eea5348",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 3280,
        "wires": []
    },
    {
        "id": "7de92ae6ab88e8bc",
        "type": "ui_chart",
        "z": "f78373ea2eea5348",
        "name": "",
        "group": "c67890a8ed2b148f",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Solar Power Running Average",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1530,
        "y": 3040,
        "wires": [
            []
        ]
    },
    {
        "id": "d720d6e73247e884",
        "type": "smooth",
        "z": "f78373ea2eea5348",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "60",
        "round": "0",
        "mult": "single",
        "reduce": false,
        "x": 940,
        "y": 3080,
        "wires": [
            [
                "aa80c06977b5fa84",
                "3e232fc66eee7058"
            ]
        ]
    },
    {
        "id": "3e232fc66eee7058",
        "type": "debug",
        "z": "f78373ea2eea5348",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 3040,
        "wires": []
    },
    {
        "id": "aa80c06977b5fa84",
        "type": "delay",
        "z": "f78373ea2eea5348",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1240,
        "y": 3080,
        "wires": [
            [
                "1428a99efa17ae84",
                "7de92ae6ab88e8bc",
                "5637580cc0e4720e"
            ]
        ]
    },
    {
        "id": "1428a99efa17ae84",
        "type": "debug",
        "z": "f78373ea2eea5348",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 3000,
        "wires": []
    },
    {
        "id": "9e9644773e819cf5",
        "type": "mqtt out",
        "z": "f78373ea2eea5348",
        "name": "",
        "topic": "solar/solar_power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e314300a.e8a55",
        "x": 1490,
        "y": 3120,
        "wires": []
    },
    {
        "id": "87bf05309b6893fb",
        "type": "mqtt out",
        "z": "f78373ea2eea5348",
        "name": "",
        "topic": "solar/grid_consumption",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e314300a.e8a55",
        "x": 1510,
        "y": 3160,
        "wires": []
    },
    {
        "id": "55599b0f7804f55d",
        "type": "mqtt out",
        "z": "f78373ea2eea5348",
        "name": "",
        "topic": "solar/feed_to_grid",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e314300a.e8a55",
        "x": 1490,
        "y": 3200,
        "wires": []
    },
    {
        "id": "7cf7ccaaa78a6c0b",
        "type": "mqtt out",
        "z": "f78373ea2eea5348",
        "name": "",
        "topic": "solar/total_consumption",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e314300a.e8a55",
        "x": 1510,
        "y": 3240,
        "wires": []
    },
    {
        "id": "edc5595ccf3fdfa3",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "c67890a8ed2b148f",
        "order": 6,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Solar power",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "x": 950,
        "y": 3120,
        "wires": []
    },
    {
        "id": "81a2734ed405bf4b",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "c67890a8ed2b148f",
        "order": 6,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Grid consume power",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "x": 980,
        "y": 3160,
        "wires": []
    },
    {
        "id": "10d639bf3a2ff36a",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "c67890a8ed2b148f",
        "order": 6,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Grid feed power",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "x": 960,
        "y": 3200,
        "wires": []
    },
    {
        "id": "61fd68964b0320da",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "c67890a8ed2b148f",
        "order": 6,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Complete consumed power",
        "format": "{{msg.payload}} W",
        "layout": "row-spread",
        "className": "",
        "x": 1000,
        "y": 3240,
        "wires": []
    },
    {
        "id": "5637580cc0e4720e",
        "type": "mqtt out",
        "z": "f78373ea2eea5348",
        "name": "",
        "topic": "solar/solar_power_rng_avrg",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e314300a.e8a55",
        "x": 1520,
        "y": 3080,
        "wires": []
    },
    {
        "id": "fef4942c6e98fd2b",
        "type": "mqtt out",
        "z": "f78373ea2eea5348",
        "name": "",
        "topic": "solar/enrg_dir_as_txt",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e314300a.e8a55",
        "x": 1500,
        "y": 3280,
        "wires": []
    },
    {
        "id": "c67890a8ed2b148f",
        "type": "ui_group",
        "name": "Inverter",
        "tab": "1160710e.823717",
        "order": 11,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e314300a.e8a55",
        "type": "mqtt-broker",
        "name": "Server-Mqtt",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "1160710e.823717",
        "type": "ui_tab",
        "name": "Solar",
        "icon": "fa-bolt ",
        "order": 8,
        "disabled": false,
        "hidden": false
    }
]