snippets/sma_devices/sma_home_manager_data_retrieval.json
[
    {
        "id": "3925e1de.a66a96",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "bd2545e77e4ee7ee",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Power consumed total",
        "label": "<b><font color=red>Power consumed total",
        "format": "{{msg.payload.P_bez}} W",
        "layout": "row-spread",
        "className": "",
        "x": 880,
        "y": 720,
        "wires": []
    },
    {
        "id": "7664e2f2.f7c174",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "bd2545e77e4ee7ee",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Grid feed total",
        "label": "<b><font color=orange>Grid feed total",
        "format": "{{msg.payload.P_ein}} W",
        "layout": "row-spread",
        "className": "",
        "x": 860,
        "y": 760,
        "wires": []
    },
    {
        "id": "8bb6cf58.c755c",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "bd2545e77e4ee7ee",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Reactive power",
        "label": "Reactive power",
        "format": "{{msg.payload.Q}} var",
        "layout": "row-spread",
        "className": "",
        "x": 860,
        "y": 800,
        "wires": []
    },
    {
        "id": "c52dfab.29f0188",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "bd2545e77e4ee7ee",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Frequency",
        "label": "Frequency",
        "format": "{{msg.payload.Hz|number:3}} Hz",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 840,
        "wires": []
    },
    {
        "id": "82b0f8e.6c81208",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "bd2545e77e4ee7ee",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "cos phi",
        "label": "cos phi",
        "format": "{{msg.payload.cos_phi|number:2}}",
        "layout": "row-spread",
        "className": "",
        "x": 840,
        "y": 880,
        "wires": []
    },
    {
        "id": "3a23a92a.c9ab5e",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "54754f51.dce238",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Power consump. L1",
        "label": "<font color=red>Power consump. L1",
        "format": "{{msg.payload.P1_bez}} W",
        "layout": "row-spread",
        "className": "",
        "x": 1180,
        "y": 720,
        "wires": []
    },
    {
        "id": "741bf189.94a",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "54754f51.dce238",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Grid feed L1",
        "label": "<font color=orange>Grid feed L1",
        "format": "{{msg.payload.P1_ein}} W",
        "layout": "row-spread",
        "className": "",
        "x": 1150,
        "y": 760,
        "wires": []
    },
    {
        "id": "9b886b46.6d92f",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "54754f51.dce238",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Reactive power L1",
        "format": "{{msg.payload.Q1}} var",
        "layout": "row-spread",
        "className": "",
        "x": 1170,
        "y": 800,
        "wires": []
    },
    {
        "id": "13da8ceb.6f67fb",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "54754f51.dce238",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current L1",
        "format": "{{msg.payload.I11}} A",
        "layout": "row-spread",
        "className": "",
        "x": 1150,
        "y": 840,
        "wires": []
    },
    {
        "id": "b9e36c8d.82ac5",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "54754f51.dce238",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Voltage L1",
        "format": "{{msg.payload.U1}} V",
        "layout": "row-spread",
        "className": "",
        "x": 1150,
        "y": 880,
        "wires": []
    },
    {
        "id": "2bb54951.dd5dd6",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "43603218.aa1924",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Power consump. L2",
        "label": "<font color=red>Power consump. L2",
        "format": "{{msg.payload.P2_bez}} W",
        "layout": "row-spread",
        "className": "",
        "x": 1480,
        "y": 720,
        "wires": []
    },
    {
        "id": "e178e035.d5a868",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "43603218.aa1924",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Grid feed L2",
        "label": "<font color=orange>Grid feed L2",
        "format": "{{msg.payload.P2_ein}} W",
        "layout": "row-spread",
        "className": "",
        "x": 1450,
        "y": 760,
        "wires": []
    },
    {
        "id": "fbfd10a.d9b3f7",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "43603218.aa1924",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Reactive power L2",
        "format": "{{msg.payload.Q2}} var",
        "layout": "row-spread",
        "className": "",
        "x": 1470,
        "y": 800,
        "wires": []
    },
    {
        "id": "7eea6d48.d84744",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "43603218.aa1924",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current L2",
        "format": "{{msg.payload.I22}} A",
        "layout": "row-spread",
        "className": "",
        "x": 1450,
        "y": 840,
        "wires": []
    },
    {
        "id": "12a53082.e5a48f",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "43603218.aa1924",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Voltage L2",
        "format": "{{msg.payload.U2}} V",
        "layout": "row-spread",
        "className": "",
        "x": 1450,
        "y": 880,
        "wires": []
    },
    {
        "id": "e54740c5.49cae8",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "fb4ce943.94db9",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Power consump. L3",
        "label": "<font color=red>Power consump. L3",
        "format": "{{msg.payload.P3_bez}} W",
        "layout": "row-spread",
        "className": "",
        "x": 1780,
        "y": 720,
        "wires": []
    },
    {
        "id": "c6bddf49.101828",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "fb4ce943.94db9",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Grid feed L3",
        "label": "<font color=orange>Grid feed L3",
        "format": "{{msg.payload.P3_ein}} W",
        "layout": "row-spread",
        "className": "",
        "x": 1750,
        "y": 760,
        "wires": []
    },
    {
        "id": "8af29c29.cf519",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "fb4ce943.94db9",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Reactive power L3",
        "format": "{{msg.payload.Q3}} var",
        "layout": "row-spread",
        "className": "",
        "x": 1770,
        "y": 800,
        "wires": []
    },
    {
        "id": "37a21b41.e177e4",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "fb4ce943.94db9",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current L3",
        "format": "{{msg.payload.I33}} A",
        "layout": "row-spread",
        "className": "",
        "x": 1750,
        "y": 840,
        "wires": []
    },
    {
        "id": "19ba601d.26fe38",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "fb4ce943.94db9",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Voltage L3",
        "format": "{{msg.payload.U3}} V",
        "layout": "row-spread",
        "className": "",
        "x": 1760,
        "y": 880,
        "wires": []
    },
    {
        "id": "efa1a740.83bdd",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "54754f51.dce238",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "cos phi L1",
        "label": "cos phi L1",
        "format": "{{msg.payload.cos_phi1}}",
        "layout": "row-spread",
        "className": "",
        "x": 1150,
        "y": 920,
        "wires": []
    },
    {
        "id": "6157f75d.542c98",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "43603218.aa1924",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "cos phi L2",
        "label": "cos phi L2",
        "format": "{{msg.payload.cos_phi2}}",
        "layout": "row-spread",
        "className": "",
        "x": 1450,
        "y": 920,
        "wires": []
    },
    {
        "id": "e77bb50e.86cf9",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "fb4ce943.94db9",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "cos phi L3",
        "label": "cos phi L3",
        "format": "{{msg.payload.cos_phi3}}",
        "layout": "row-spread",
        "className": "",
        "x": 1750,
        "y": 920,
        "wires": []
    },
    {
        "id": "a7538f00.b79748",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "e4be6a94.10844",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Energy consumpt. total",
        "label": "<b><font color=red>Energy consumpt. total",
        "format": "{{msg.payload.W_bez}} kWh",
        "layout": "row-spread",
        "className": "",
        "x": 880,
        "y": 1100,
        "wires": []
    },
    {
        "id": "d76bd364.777118",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "e4be6a94.10844",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Energy grid feed total",
        "label": "<b><font color=orange>Energy grid feed total",
        "format": "{{msg.payload.W_ein}} kWh",
        "layout": "row-spread",
        "className": "",
        "x": 880,
        "y": 1140,
        "wires": []
    },
    {
        "id": "291292a4.a356f6",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "e4be6a94.10844",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Reactive work cap.",
        "label": "Reactive work cap.",
        "format": "{{msg.payload.W_Q_kap}} kvarh",
        "layout": "row-spread",
        "className": "",
        "x": 870,
        "y": 1180,
        "wires": []
    },
    {
        "id": "5701cc48.00331c",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "e4be6a94.10844",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Reactive work ind.",
        "label": "Reactive work ind.",
        "format": "{{msg.payload.W_Q_ind}} kvarh",
        "layout": "row-spread",
        "className": "",
        "x": 870,
        "y": 1220,
        "wires": []
    },
    {
        "id": "b62abea6.f9e11",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "54754f51.dce238",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Energy consumpt. L1",
        "label": "<font color=red>Energy consumpt. L1",
        "format": "{{msg.payload.W1_bez}} kWh",
        "layout": "row-spread",
        "className": "",
        "x": 1180,
        "y": 1100,
        "wires": []
    },
    {
        "id": "5914dc80.bea444",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "54754f51.dce238",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Energy grid feed L1",
        "label": "<font color=orange>Energy grid feed L1",
        "format": "{{msg.payload.W1_ein}} kWh",
        "layout": "row-spread",
        "className": "",
        "x": 1170,
        "y": 1140,
        "wires": []
    },
    {
        "id": "114632b5.82faf5",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "54754f51.dce238",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "Reactive work cap. L1",
        "label": "Reactive work cap. L1",
        "format": "{{msg.payload.W1_Q_kap}} kvarh",
        "layout": "row-spread",
        "className": "",
        "x": 1180,
        "y": 1180,
        "wires": []
    },
    {
        "id": "76c2845c.f3b674",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "54754f51.dce238",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "Reactive work ind. L1",
        "label": "Reactive work ind. L1",
        "format": "{{msg.payload.W1_Q_ind}} kvarh",
        "layout": "row-spread",
        "className": "",
        "x": 1180,
        "y": 1220,
        "wires": []
    },
    {
        "id": "c26136e3.bdb0f8",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "43603218.aa1924",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Energy consumpt. L2",
        "label": "<font color=red>Energy consumpt. L2",
        "format": "{{msg.payload.W2_bez}} kWh",
        "layout": "row-spread",
        "className": "",
        "x": 1480,
        "y": 1100,
        "wires": []
    },
    {
        "id": "c95473c6.39c0b",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "43603218.aa1924",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Energy grid feed L2",
        "label": "<font color=orange>Energy grid feed L2",
        "format": "{{msg.payload.W2_ein}} kWh",
        "layout": "row-spread",
        "className": "",
        "x": 1470,
        "y": 1140,
        "wires": []
    },
    {
        "id": "781b2b9e.86ef04",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "43603218.aa1924",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Reactive work cap. L2",
        "label": "Reactive work cap. L2",
        "format": "{{msg.payload.W2_Q_kap}} kvarh",
        "layout": "row-spread",
        "className": "",
        "x": 1480,
        "y": 1180,
        "wires": []
    },
    {
        "id": "cd1fbfcb.d6d5b8",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "43603218.aa1924",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Reactive work ind. L2",
        "label": "Reactive work ind. L2",
        "format": "{{msg.payload.W2_Q_ind}} kvarh",
        "layout": "row-spread",
        "className": "",
        "x": 1480,
        "y": 1220,
        "wires": []
    },
    {
        "id": "6e2f564a.b67e58",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "fb4ce943.94db9",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Energy consumpt. L3",
        "label": "<font color=red>Energy consumpt. L3",
        "format": "{{msg.payload.W3_bez}} kWh",
        "layout": "row-spread",
        "className": "",
        "x": 1780,
        "y": 1100,
        "wires": []
    },
    {
        "id": "8d921435.8903f8",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "fb4ce943.94db9",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Energy grid feed L3",
        "label": "<font color=orange>Energy grid feed L3",
        "format": "{{msg.payload.W3_ein}} kWh",
        "layout": "row-spread",
        "className": "",
        "x": 1770,
        "y": 1140,
        "wires": []
    },
    {
        "id": "6cba8b7.368c9f4",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "fb4ce943.94db9",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Reactive work cap. L3",
        "label": "Reactive work cap. L3",
        "format": "{{msg.payload.W3_Q_kap}} kvarh",
        "layout": "row-spread",
        "className": "",
        "x": 1780,
        "y": 1180,
        "wires": []
    },
    {
        "id": "63df9e0b.2254f8",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "fb4ce943.94db9",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Reactive work ind. L3",
        "label": "Reactive work ind. L3",
        "format": "{{msg.payload.W3_Q_ind}} kvarh",
        "layout": "row-spread",
        "className": "",
        "x": 1780,
        "y": 1220,
        "wires": []
    },
    {
        "id": "6fa3a49d.1e4bec",
        "type": "udp in",
        "z": "f78373ea2eea5348",
        "name": "SMA EM",
        "iface": "",
        "port": "9522",
        "ipv": "udp4",
        "multicast": "true",
        "group": "239.12.255.254",
        "datatype": "buffer",
        "x": 200,
        "y": 720,
        "wires": [
            [
                "c6e2656cce71873d"
            ]
        ]
    },
    {
        "id": "afe10d6a8e05b465",
        "type": "function",
        "z": "f78373ea2eea5348",
        "name": "process",
        "func": "//Ws zu kWh\nW_bez = Number(msg.payload.W_bez) /3600000;\nW_ein = Number(msg.payload.W_ein) /3600000;\nW_bez2 = Number(msg.payload.W_bez) /3600; //Wh für openWB\nW_ein2 = Number(msg.payload.W_ein) /3600; //Wh für openWB\nW_Q_ind = Number(msg.payload.W_Q_ind) /3600000;\nW_Q_kap = Number(msg.payload.W_Q_kap) /3600000;\nW1_bez = Number(msg.payload.W1_bez) /3600000;\nW1_ein = Number(msg.payload.W1_ein) /3600000;\nW1_Q_ind = Number(msg.payload.W1_Q_ind) /3600000;\nW1_Q_kap = Number(msg.payload.W1_Q_kap) /3600000;\nW2_bez = Number(msg.payload.W2_bez) /3600000;\nW2_ein = Number(msg.payload.W2_ein) /3600000;\nW2_Q_ind = Number(msg.payload.W2_Q_ind) /3600000;\nW2_Q_kap = Number(msg.payload.W2_Q_kap) /3600000;\nW3_bez = Number(msg.payload.W3_bez) /3600000;\nW3_ein = Number(msg.payload.W3_ein) /3600000;\nW3_Q_ind = Number(msg.payload.W3_Q_ind) /3600000;\nW3_Q_kap = Number(msg.payload.W3_Q_kap) /3600000;\n\n\nmsg.local_datetime_str = new Date().toLocaleString(\"en-US\", { timeZone: \"Europe/Berlin\" });\nnow = new Date(msg.local_datetime_str);\nmsg.Minutes = now.getMinutes();\nmsg.Hours = now.getHours();\n    \n    \n//save values at 00:00\nif (flow.get(\"energy_consumption_grid_since_today\")==undefined || (msg.Minutes==0 && msg.Hours==0))\n{\n    flow.set(\"energy_consumption_grid_since_today\", W_bez);\n}\n\nif (flow.get(\"energy_feedin_grid_since_today\")==undefined || (msg.Minutes==0 && msg.Hours==0))\n{\n    flow.set(\"energy_feedin_grid_since_today\", W_ein);\n}\n\n\n\nW_bez_today =(W_bez - flow.get(\"energy_consumption_grid_since_today\")).toFixed(3);\nW_ein_today =(W_ein - flow.get(\"energy_feedin_grid_since_today\")).toFixed(3);\n\nmsg.payload = {W_bez,W_ein,W_bez2,W_ein2,W_Q_ind,W_Q_kap,W1_bez,W1_ein,W1_Q_ind,W1_Q_kap,W2_bez,W2_ein,W2_Q_ind,W2_Q_kap,W3_bez,W3_ein,W3_Q_ind,W3_Q_kap, W_bez_today, W_ein_today};\nmsg.topic = \"Zähler\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1120,
        "wires": [
            [
                "a7538f00.b79748",
                "d76bd364.777118",
                "291292a4.a356f6",
                "5701cc48.00331c",
                "571ef2b0d9c71009",
                "8bbd8ca0e9f5eb85",
                "ed04276c08295917",
                "0428709d29732e03"
            ]
        ]
    },
    {
        "id": "c6e2656cce71873d",
        "type": "function",
        "z": "f78373ea2eea5348",
        "name": "= 608 Bytes",
        "func": "if (msg.payload.length !== 608) {\n     msg = null;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 760,
        "wires": [
            [
                "72ebe599718bdb9a",
                "612794d01b5cb9ad",
                "5c727a2c79d8137d"
            ]
        ]
    },
    {
        "id": "4579839580c59f3f",
        "type": "function",
        "z": "f78373ea2eea5348",
        "name": "Firmware Version",
        "func": "msg.payload = msg.payload.v1 + \".\" + msg.payload.v2 + \".\" + msg.payload.v3 + \".\" + msg.payload.r;\nmsg.topic = \"Fw\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 960,
        "wires": [
            [
                "7c551989040f23e7"
            ]
        ]
    },
    {
        "id": "7c551989040f23e7",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "bd2545e77e4ee7ee",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Firmware Version",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1170,
        "y": 960,
        "wires": []
    },
    {
        "id": "80cf3b8f5366e964",
        "type": "function",
        "z": "f78373ea2eea5348",
        "name": "process",
        "func": "// gesamt\nP_bez = msg.payload.P_bez;\nP_bez = parseFloat(P_bez.toFixed(1));\nP_bez2 = parseFloat(P_bez.toFixed(0));\nP_ein = msg.payload.P_ein;\nP_ein = parseFloat(P_ein.toFixed(1));\nP_ein2 = parseFloat(P_ein.toFixed(0));\nQ_ind = msg.payload.Q_ind;\nQ_kap = msg.payload.Q_kap;\nvar Q;\nif (Q_ind > 0 && Q_kap == 0) {\n    Q = Q_ind * -1;\n} else {\n    Q = Q_kap;\n}\nQ = parseFloat(Q.toFixed(0));\ncos_phi = msg.payload.cos_phi;\ncos_phi = parseFloat(cos_phi.toFixed(2));\nHz = msg.payload.Hz;\nHz = parseFloat(Hz.toFixed(3));\n// L1\nP1_bez = msg.payload.P1_bez;\nP1_bez = parseFloat(P1_bez.toFixed(1));\nQ1_ind = msg.payload.Q1_ind;\nQ1_kap = msg.payload.Q1_kap;\nvar Q1;\nif (Q1_ind > 0 && Q1_kap == 0) {\n    Q1 = Q1_ind * -1;\n} else {\n    Q1 = Q1_kap;\n}\nQ1 = parseFloat(Q1.toFixed(0));\nU1 = msg.payload.U1;\nU1 = parseFloat(U1.toFixed(2));\ncos_phi1 = msg.payload.cos_phi1;\ncos_phi1 = parseFloat(cos_phi1.toFixed(2));\n// L2\nP2_bez = msg.payload.P2_bez;\nP2_bez = parseFloat(P2_bez.toFixed(1));\nQ2_ind = msg.payload.Q2_ind;\nQ2_kap = msg.payload.Q2_kap;\nvar Q2;\nif (Q2_ind > 0 && Q2_kap == 0) {\n    Q2 = Q2_ind * -1;\n} else {\n    Q2 = Q2_kap;\n}\nQ2 = parseFloat(Q2.toFixed(0));\nU2 = msg.payload.U2;\nU2 = parseFloat(U2.toFixed(2));\ncos_phi2 = msg.payload.cos_phi2;\ncos_phi2 = parseFloat(cos_phi2.toFixed(2));\n// L3\nP3_bez = msg.payload.P3_bez;\nP3_bez = parseFloat(P3_bez.toFixed(1));\nQ3_ind = msg.payload.Q3_ind;\nQ3_kap = msg.payload.Q3_kap;\nvar Q3;\nif (Q3_ind > 0 && Q3_kap == 0) {\n    Q3 = Q3_ind * -1;\n} else {\n    Q3 = Q3_kap;\n}\nQ3 = parseFloat(Q3.toFixed(0));\nU3 = msg.payload.U3;\nU3 = parseFloat(U3.toFixed(2));\ncos_phi3 = msg.payload.cos_phi3;\ncos_phi3 = parseFloat(cos_phi3.toFixed(2));\n// Ströme mit Vorzeichen\nI1 = msg.payload.I1;\nI2 = msg.payload.I2;\nI3 = msg.payload.I3;\nE1 = msg.payload.P1_ein;\nP1_ein = parseFloat(E1.toFixed(1));\nE2 = msg.payload.P2_ein;\nP2_ein = parseFloat(E2.toFixed(1));\nE3 = msg.payload.P3_ein;\nP3_ein = parseFloat(E3.toFixed(1));\nvar I1a;\nvar I2a;\nvar I3a;\nif(E1 > 0 ) {\n    I1a = I1 * (-1);\n} else {\n    I1a = I1;\n}\nif(E2 > 0 ) {\n    I2a = I2 * (-1);\n} else {\n    I2a = I2;\n}\nif(E3 > 0 ) {\n    I3a = I3 * (-1);\n} else {\n    I3a = I3;\n}\nI11 = parseFloat(I1a.toFixed(2));\nI22 = parseFloat(I2a.toFixed(2));\nI33 = parseFloat(I3a.toFixed(2));\nmsg.payload = {P_bez,P_bez2,P_ein,P_ein2,Q,cos_phi,Hz,P1_bez,P1_ein,Q1,I11,U1,cos_phi1,P2_bez,P2_ein,Q2,I22,U2,cos_phi2,P3_bez,P3_ein,Q3,I33,U3,cos_phi3};\nmsg.topic = \"Messwerte\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 760,
        "wires": [
            [
                "3925e1de.a66a96",
                "7664e2f2.f7c174",
                "8bb6cf58.c755c",
                "c52dfab.29f0188",
                "82b0f8e.6c81208",
                "63a59f5304ec31e9",
                "f9731e5f369a2f90"
            ]
        ]
    },
    {
        "id": "d679413920483c79",
        "type": "link in",
        "z": "f78373ea2eea5348",
        "name": "Messwerte",
        "links": [
            "63a59f5304ec31e9"
        ],
        "x": 995,
        "y": 840,
        "wires": [
            [
                "3a23a92a.c9ab5e",
                "741bf189.94a",
                "9b886b46.6d92f",
                "13da8ceb.6f67fb",
                "b9e36c8d.82ac5",
                "efa1a740.83bdd"
            ]
        ]
    },
    {
        "id": "63a59f5304ec31e9",
        "type": "link out",
        "z": "f78373ea2eea5348",
        "name": "Messwerte",
        "mode": "link",
        "links": [
            "388da67ab8f60a41",
            "3c0f4a40954e8edf",
            "d679413920483c79",
            "7932dac8bc4be745",
            "c3d4ebfcc07306c5",
            "b0adbd8ae24c720e",
            "5806f7a44a8936e8"
        ],
        "x": 655,
        "y": 840,
        "wires": []
    },
    {
        "id": "3c0f4a40954e8edf",
        "type": "link in",
        "z": "f78373ea2eea5348",
        "name": "Messwerte",
        "links": [
            "63a59f5304ec31e9"
        ],
        "x": 1295,
        "y": 840,
        "wires": [
            [
                "2bb54951.dd5dd6",
                "e178e035.d5a868",
                "fbfd10a.d9b3f7",
                "7eea6d48.d84744",
                "12a53082.e5a48f",
                "6157f75d.542c98",
                "552e5ed440b3a2fc"
            ]
        ]
    },
    {
        "id": "388da67ab8f60a41",
        "type": "link in",
        "z": "f78373ea2eea5348",
        "name": "Messwerte",
        "links": [
            "63a59f5304ec31e9"
        ],
        "x": 1595,
        "y": 840,
        "wires": [
            [
                "e54740c5.49cae8",
                "c6bddf49.101828",
                "8af29c29.cf519",
                "37a21b41.e177e4",
                "19ba601d.26fe38",
                "e77bb50e.86cf9"
            ]
        ]
    },
    {
        "id": "571ef2b0d9c71009",
        "type": "link out",
        "z": "f78373ea2eea5348",
        "name": "Zähler",
        "mode": "link",
        "links": [
            "685dc691179583d4",
            "16a19c839aa8a4ab",
            "e77cf91771801ff9",
            "253f20f0e2e94fde",
            "7bb1ec998fb42e79",
            "ba23ae8234c34d82"
        ],
        "x": 655,
        "y": 1160,
        "wires": []
    },
    {
        "id": "685dc691179583d4",
        "type": "link in",
        "z": "f78373ea2eea5348",
        "name": "Zähler",
        "links": [
            "571ef2b0d9c71009"
        ],
        "x": 995,
        "y": 1160,
        "wires": [
            [
                "b62abea6.f9e11",
                "5914dc80.bea444",
                "114632b5.82faf5",
                "76c2845c.f3b674"
            ]
        ]
    },
    {
        "id": "16a19c839aa8a4ab",
        "type": "link in",
        "z": "f78373ea2eea5348",
        "name": "Zähler",
        "links": [
            "571ef2b0d9c71009"
        ],
        "x": 1595,
        "y": 1160,
        "wires": [
            [
                "6e2f564a.b67e58",
                "8d921435.8903f8",
                "6cba8b7.368c9f4",
                "63df9e0b.2254f8"
            ]
        ]
    },
    {
        "id": "e77cf91771801ff9",
        "type": "link in",
        "z": "f78373ea2eea5348",
        "name": "Zähler",
        "links": [
            "571ef2b0d9c71009"
        ],
        "x": 1295,
        "y": 1160,
        "wires": [
            [
                "c26136e3.bdb0f8",
                "c95473c6.39c0b",
                "781b2b9e.86ef04",
                "cd1fbfcb.d6d5b8"
            ]
        ]
    },
    {
        "id": "552e5ed440b3a2fc",
        "type": "function",
        "z": "f78373ea2eea5348",
        "name": "Schieflast",
        "func": "var I1 = msg.payload.I11;\nvar I2 = msg.payload.I22;\nvar I3 = msg.payload.I33;\nvar max = Math.max(I1,I2,I3);\nvar Ia = max - I1;\nvar Ib = max - I2;\nvar Ic = max - I3;\nI = Math.max(Ia,Ib,Ic);\nmsg.payload = parseFloat(I.toFixed(1));\nmsg.topic = \"Schieflast\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 960,
        "wires": [
            [
                "77af29228e50f2df"
            ]
        ]
    },
    {
        "id": "77af29228e50f2df",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "bd2545e77e4ee7ee",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Unbalanced load",
        "format": "{{msg.payload}} A",
        "layout": "row-spread",
        "className": "",
        "x": 1770,
        "y": 960,
        "wires": []
    },
    {
        "id": "72ebe599718bdb9a",
        "type": "buffer-parser",
        "z": "f78373ea2eea5348",
        "name": "Measurements",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "uint32be",
                "name": "P_bez",
                "offset": 32,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "P_ein",
                "offset": 52,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "Q_ind",
                "offset": 72,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "Q_kap",
                "offset": 92,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "S_bez",
                "offset": 112,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "S_ein",
                "offset": 132,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "cos_phi",
                "offset": 152,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.001",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "Hz",
                "offset": 160,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.001",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "P1_bez",
                "offset": 168,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "P1_ein",
                "offset": 188,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "Q1_ind",
                "offset": 208,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "Q1_kap",
                "offset": 228,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "S1_bez",
                "offset": 248,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "S1_ein",
                "offset": 268,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "I1",
                "offset": 288,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.001",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "U1",
                "offset": 296,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.001",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "cos_phi1",
                "offset": 304,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.001",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "P2_bez",
                "offset": 312,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "P2_ein",
                "offset": 332,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "Q2_ind",
                "offset": 352,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "Q2_kap",
                "offset": 372,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "S2_bez",
                "offset": 392,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "S2_ein",
                "offset": 412,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "I2",
                "offset": 432,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.001",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "U2",
                "offset": 440,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.001",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "cos_phi2",
                "offset": 448,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.001",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "P3_bez",
                "offset": 456,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "P3_ein",
                "offset": 476,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "Q3_ind",
                "offset": 496,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "Q3_kap",
                "offset": 516,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "S3_bez",
                "offset": 536,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "S3_ein",
                "offset": 556,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "I3",
                "offset": 576,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.001",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "U3",
                "offset": 584,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.001",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "cos_phi3",
                "offset": 592,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.001",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "v1",
                "offset": 600,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "v2",
                "offset": 601,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "v3",
                "offset": 602,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "utf8",
                "name": "r",
                "offset": 603,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "output",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 420,
        "y": 760,
        "wires": [
            [
                "4579839580c59f3f",
                "80cf3b8f5366e964"
            ]
        ]
    },
    {
        "id": "612794d01b5cb9ad",
        "type": "buffer-parser",
        "z": "f78373ea2eea5348",
        "name": "Energy counter",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "biguint64be",
                "name": "W_bez",
                "offset": 40,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "biguint64be",
                "name": "W_ein",
                "offset": 60,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "biguint64be",
                "name": "W_Q_ind",
                "offset": 80,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "biguint64be",
                "name": "W_Q_kap",
                "offset": 100,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "biguint64be",
                "name": "W_S_bez",
                "offset": 120,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "biguint64be",
                "name": "W_S_ein",
                "offset": 140,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "biguint64be",
                "name": "W1_bez",
                "offset": 176,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "biguint64be",
                "name": "W1_ein",
                "offset": 196,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "biguint64be",
                "name": "W1_Q_ind",
                "offset": 216,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "biguint64be",
                "name": "W1_Q_kap",
                "offset": 236,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "biguint64be",
                "name": "W1_S_bez",
                "offset": 256,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "biguint64be",
                "name": "W1_S_ein",
                "offset": 276,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "biguint64be",
                "name": "W2_bez",
                "offset": 320,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "biguint64be",
                "name": "W2_ein",
                "offset": 340,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "biguint64be",
                "name": "W2_Q_ind",
                "offset": 360,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "biguint64be",
                "name": "W2_Q_kap",
                "offset": 380,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "biguint64be",
                "name": "W2_S_bez",
                "offset": 400,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "biguint64be",
                "name": "W2_S_ein",
                "offset": 420,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "biguint64be",
                "name": "W3_bez",
                "offset": 464,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "biguint64be",
                "name": "W3_ein",
                "offset": 484,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "biguint64be",
                "name": "W3_Q_ind",
                "offset": 504,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "biguint64be",
                "name": "W3_Q_kap",
                "offset": 524,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "biguint64be",
                "name": "W3_S_bez",
                "offset": 544,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "biguint64be",
                "name": "W3_S_ein",
                "offset": 564,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "output",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 420,
        "y": 1120,
        "wires": [
            [
                "afe10d6a8e05b465"
            ]
        ]
    },
    {
        "id": "5c727a2c79d8137d",
        "type": "debug",
        "z": "f78373ea2eea5348",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 720,
        "wires": []
    },
    {
        "id": "f9731e5f369a2f90",
        "type": "debug",
        "z": "f78373ea2eea5348",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 660,
        "wires": []
    },
    {
        "id": "8bbd8ca0e9f5eb85",
        "type": "debug",
        "z": "f78373ea2eea5348",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 1340,
        "wires": []
    },
    {
        "id": "ed04276c08295917",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "e4be6a94.10844",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Grid energy today",
        "label": "<b><font color=red> Grid energy today",
        "format": "{{msg.payload.W_bez_today}} kWh",
        "layout": "row-spread",
        "className": "",
        "x": 870,
        "y": 1260,
        "wires": []
    },
    {
        "id": "0428709d29732e03",
        "type": "ui_text",
        "z": "f78373ea2eea5348",
        "group": "e4be6a94.10844",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Grid feed in today",
        "label": "<b><font color=orange> Grid feed in today",
        "format": "{{msg.payload.W_ein_today}} kWh",
        "layout": "row-spread",
        "className": "",
        "x": 870,
        "y": 1300,
        "wires": []
    },
    {
        "id": "dbe014e9adf82d1a",
        "type": "mqtt out",
        "z": "f78373ea2eea5348",
        "name": "",
        "topic": "solar/counter/all_data",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e314300a.e8a55",
        "x": 1400,
        "y": 1280,
        "wires": []
    },
    {
        "id": "1cd708de0f1e15c3",
        "type": "delay",
        "z": "f78373ea2eea5348",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1160,
        "y": 1280,
        "wires": [
            [
                "dbe014e9adf82d1a"
            ]
        ]
    },
    {
        "id": "ba23ae8234c34d82",
        "type": "link in",
        "z": "f78373ea2eea5348",
        "name": "Zähler",
        "links": [
            "571ef2b0d9c71009"
        ],
        "x": 1015,
        "y": 1280,
        "wires": [
            [
                "1cd708de0f1e15c3"
            ]
        ]
    },
    {
        "id": "8114b58d5ca9e0a7",
        "type": "mqtt out",
        "z": "f78373ea2eea5348",
        "name": "",
        "topic": "solar/measurement/all_data",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e314300a.e8a55",
        "x": 1200,
        "y": 1000,
        "wires": []
    },
    {
        "id": "cb39e8be87385058",
        "type": "delay",
        "z": "f78373ea2eea5348",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 940,
        "y": 1000,
        "wires": [
            [
                "8114b58d5ca9e0a7"
            ]
        ]
    },
    {
        "id": "b0adbd8ae24c720e",
        "type": "link in",
        "z": "f78373ea2eea5348",
        "name": "Zähler",
        "links": [
            "63a59f5304ec31e9"
        ],
        "x": 795,
        "y": 1000,
        "wires": [
            [
                "cb39e8be87385058"
            ]
        ]
    },
    {
        "id": "bd2545e77e4ee7ee",
        "type": "ui_group",
        "name": "Overview",
        "tab": "1160710e.823717",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "54754f51.dce238",
        "type": "ui_group",
        "name": "L1",
        "tab": "1160710e.823717",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "43603218.aa1924",
        "type": "ui_group",
        "name": "L2",
        "tab": "1160710e.823717",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fb4ce943.94db9",
        "type": "ui_group",
        "name": "L3",
        "tab": "1160710e.823717",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e4be6a94.10844",
        "type": "ui_group",
        "name": "Energy counter",
        "tab": "1160710e.823717",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e314300a.e8a55",
        "type": "mqtt-broker",
        "name": "Server-Mqtt",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "1160710e.823717",
        "type": "ui_tab",
        "name": "Solar",
        "icon": "fa-bolt ",
        "order": 8,
        "disabled": false,
        "hidden": false
    }
]